<li>
  <%= link_to external_staffs_matters_path do %>
    <i class="fas fa-clipboard"></i><span class="ml-1e">着工案件管理</span>
  <% end %>
</li>
<li>
  <%= link_to external_staffs_construction_schedules_path do %>
    <i class="fas fa-calendar-alt"></i><span class="ml-1e">スケジュール管理</span>
  <% end %>
</li>
