<li>
  <%= link_to "#" do %>
    <i class="fas fa-paste"></i><span class="ml-1e">営業管理</span>
  <% end %>
</li>
<li>
  <%= link_to external_staffs_matters_path do %>
    <i class="fas fa-clipboard"></i><span class="ml-1e">着工案件管理</span>
  <% end %>
</li>
<li>
  <%= link_to employees_schedules_path do %>
   <i class="fas fa-calendar-alt"></i><span class="ml-1e">スケジュール管理</span>
  <% end %>
</li>
<li>
  <%= link_to staffs_attendances_path do %>
    <i class="fas fa-clock"></i><span class="ml-1e">勤怠管理</span>
  <% end %>
</li>