<li>
  <%= link_to supplier_managers_matters_path do %>
    <i class="fas fa-clipboard"></i><span class="ml-1e">着工案件管理</span>
  <% end %>
</li>
<li>
  <%= link_to supplier_managers_construction_reports_path do %>
    <i class="fas fa-file-alt"></i><span span class="ml-1e">作業報告一覧</span>
  <% end %>
</li>
<li>
  <%= link_to supplier_managers_construction_schedules_path do %>
   <i class="fas fa-calendar-alt"></i><span class="ml-1e">スケジュール管理</span>
  <% end %>
</li>
<li>
  <%= link_to supplier_managers_construction_reports_path do %>
    <i class="fas fa-paste"></i><span class="ml-1e">報告書管理</span>
  <% end %>
</li>