<div class="container">
  <div class="col-sm-12 manager_contaioner">
    <h1>User::Matters#show</h1>
    <p>Find me in app/views/user/matters/show.html.erb</p>
  </div>
  
  <div class="table-responsive">
    <table class="table text-nowrap table-bordered">
      <tr>
        <th>請負業者</th>
        <td><%= current_matter.managers.first.company %></td>
      </tr>
      <tr>
        <th>管理者</th>
        <td><%= current_matter.submanagers.first.name if current_matter.submanagers.exists? %></td>
      </tr>
    </table>
  </div>
</div>