<div class="container">
  <div class="col-sm-12 manager_contaioner">
    <h1>User::Matters#show</h1>
    <p>Find me in app/views/user/matters/show.html.erb</p>
  </div>
  
  <div class="table-responsive">
    <table class="table text-nowrap table-bordered">
      <% @companies.each do |company| %>
      <tr>
        <th>請負業者</th>
        <td><%= company.company %></td>
      </tr>
      <tr>
        <th>管理者</th>
        <td><% manage_authority(Manager.find(company.id)) %><%= @name %></td>
      </tr>
      <tr>
        <th>連絡先</th>
        <td><% manage_authority(Manager.find(company.id)) %><%= @telephone %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>