<% current_manager.submanagers.each do |submanager| %>
  <tr>
    <td>SubManager</td>
    <td><%= submanager.name %></td>
    <td><%= submanager.email %></td>
    <td>
      <%= link_to "編集", edit_manager_submanager_path(current_manager,submanager), class: "btn btn-dark btn-sm" %>
      <%= link_to "削除", manager_submanager_path(current_manager,submanager), data: {confirm: "#{submanager.name}を削除しますか？"}, method: :delete, class: "btn btn-destroy btn-sm" %>
    </td>
  </tr>
<% end %>