<div class="modal-dialog non-card-modal modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      報告書編集
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body pa-2e">
      <%= form_with(model: @report, url: employees_matter_report_path(@matter, @report), method: :patch) do |f| %>
        <div class="report-update-errors"></div>
        <%= render "employees/matters/reports/partial/form", f: f %>
        <div class="btn-area">
          <%= f.submit "更新", class: "btn btn-dark reset-errors" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_include_tag "reset_errors.js" %>
