<div class="row">
  <div class="col-md-6">
    <div class="picture-area">
      <%= image_tag url_for(@image.image.variant(combine_options:{ gravity: :center, resize:"300x300^", crop:"300x300+0+0" })) %>
    </div>
  </div>

  <div class="col-md-6">
    <%= f.label :title %>
    <%= f.text_field :title, id: "title", maxlength: 30, class: "form-control" %>
    <%= f.hidden_field :image_id, value: @image.id %>
  </div>
</div>
