<div class="container">
  <h2><i class="fas fa-clipboard"></i> MATTER一覧</h2>
  
  <div class="row mt-1e matter_select">
    <div class="col-sm-8">
      <button class="btn matter_select_btn" id="select_progerss">進行案件</button>
      <button class="btn matter_select_btn" id="select_finished">完了案件</button>
    </div>
    <div class="col-sm-4">
      <%= link_to new_matter_matter_path(current_manager), class: "btn btn-dark mt-1e mb-1e float-r" do %>
         <i class="fas fa-plus"></i> 新規案件作成
      <% end %>
    </div>
  </div>
  
  <div class="table-responsive">
    <table class="table tabale-borderd text-nowrap employee_index">
      <thead>
        <tr>
          <th>タイトル</th>
          <th>場所</th>
          <th>依頼人</th>
          <th>連結コード</th>
          <th>情報</th>
        </tr>
      </thead>
      
      <tbody id="progress_index" style="display: none;">
        <%= render 'matter/matters/matter_type/progress_matter' %>
      </tbody>
      <tbody id="finished_index" style="display: none;">
        <%= render 'matter/matters/matter_type/finished_matter' %>
      </tbody>
    </table>
  </div>
</div>

<script>
  $('#select_progerss').on('click', function(){
    $('#select_progerss').addClass('active');
    $('#select_finished').removeClass("active");
    $('#progress_index').show();
    $('#finished_index').hide();
  });
  
  $('#select_finished').on('click', function(){
    $('#select_progerss').removeClass('active');
    $('#select_finished').addClass("active");
    $('#progress_index').hide();
    $('#finished_index').show();
  });
</script>
  