<h4 class="title_layout">
  <i class="fas fa-clipboard-list"></i> <%= @manager.name %>の引き継ぎ項目
</h4>

<%= out_of_service(@manager) %>

<div id="process">
  <%= render 'employees/managers/retirements/partial/process' %>
</div>