<% if @responce == "success" %>
  $('#modal-container').modal('hide');
  $('#process').html('<%= escape_javascript(render 'employees/managers/retirements/partial/process') %>');
  toastr.success("<%= @schedule.title %>の担当者を変更しました");
  $('#modal-container').empty();
<% else %>
  $('.schedule-update-errors').html('<span class="text-danger"><%= @target_mamber_name %>はその時間帯に他のスケジュールがあります</span>');
<% end %>