<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;</button></div>
    <div class="modal-body pa-2e">
      <div class="card mb-3">
        <h5 class="card-header">業種作成</h5>
        <div class="card-body">
          <%= form_with(model: @industry, url: employees_settings_industries_path, method: :post, remote: true) do |f| %>
            <div class="industry-create-errors"></div>
            <div>
              <%= f.label :name %>
              <%= f.text_field :name, required: true, class: "form-control" %>
            </div>
            <div class="btn-area">
              <%= f.submit "作成", class: "btn btn-dark" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>