<div class="modal-dialog">
  <!-- モーダルコンテンツ:モーダルに表示させる内容-->
  <div class="modal-content">
    <div class="modal-body pa-2e">
    <!-- &timesは「×ボタン」の表示-->
    <div class="row">
        <div class="col-sm-12 mb-1e">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="col-sm-12">
          <div class="card mb-3">
            <h5 class="card-header">業種作成</h5>
            <div class="card-body">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>