<div>
  <h2>業種一覧</h2>
  <button class="btn btn-dark" id="employee-new-btn">作成</button>
  <table class="table table-sm table" id="employees-industries-table">
    <tr>
      <th>名前</th>
      <th></th>
    </tr>
    <% @industries.each do |industry| %>
      <tr>
        <td><%= industry.name %></td>
        <td>
          <%= link_to "編集", "#", class: "btn btn-sm btn-dark" %>
          <%= link_to "削除", employees_settings_industry_path(industry), method: :delete, data: { confirm: "この業種を削除してよろしいですか？" }, class: "btn btn-sm btn-danger" %>
        </td>
      </tr>
    <% end %>
  </table>
</div>


<!--新規作成モーダル-->
<div class="modal" id="employee-new">
  <div class="modal-dialog-centered js-modal-close">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-3">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">業種作成</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div> 
          <div class="modal-body">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(function(){
    $("#employee-new-btn").on("click",function() {
      $("#employee-new").fadeIn();
      return false;
    });
    
    $(".js-modal-close").on("click",function() {
      $("#employee-new").fadeOut();
      return false;
    });
    
    $(".close").on("click", function() {
      $("#employee-new").fadeOut();
    });
  });
</script>