<div class="container">
  <h2>業種一覧<button class="btn btn-dark float-r" data-toggle="modal" data-target="#industry-new">作成</button></h2>
  <div class="card text-center tab-wrapper">
    <div class="card-header bg-dark"></div>

    <div class="card-body">
      <table class="table table-sm table common-table">
        <tr>
          <th>名前</th>
          <th></th>
        </tr>
        <% @industries.each do |industry| %>
          <tr>
            <td><%= industry.name %></td>
            <td>
              <button class="btn btn-sm btn-dark to-edit-industry" data-toggle="modal" data-target="#industry-edit"
                      data-id="<%= industry.id %>" data-name="<%= industry.name %>">
                編集
              </button>
              <%= link_to "削除", employees_settings_industry_path(industry), method: :delete, data: { confirm: "この業種を削除してよろしいですか？" }, class: "btn btn-sm btn-danger" %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

<script>
  $(document).on("turbolinks:load", function() {
    $(".to-edit-industry").click(function() {
      let name = $(this).data("name");
      let industryId = $(this).data("id");
      $("#industry-name").val(name);
      $("#edit-industry-form").attr("action", "/employees/settings/industries/" + industryId);
    });
  });
</script>
