<div>
  <h2>業種一覧</h2>
  <button class="employee_new_btn btn btn-purple mb-1e float-r" id="employee_new_btn"><i class="fas fa-user-plus"></i> 新規作成</button>
  <%= link_to "作成", new_employees_settings_industry_path, class: "btn btn-dark" %>
  <table class="table table-sm table" id="employees-industries-table">
    <tr>
      <th>名前</th>
      <th></th>
    </tr>
    <% @industries.each do |industry| %>
      <tr>
        <td><%= industry.name %></td>
        <td>
          <%= link_to "編集", "#", class: "btn btn-sm btn-dark" %>
          <%= link_to "削除", employees_settings_industry_path(industry), method: :delete, data: { confirm: "この業種を削除してよろしいですか？" }, class: "btn btn-sm btn-danger" %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<!--新規作成モーダル-->
<div class="modal" id="employee_new">
  <div class="modal__bg js-modal-close"></div>
  <div>
    fffff
  </div>
</div>

<script>
  $(function(){
    $('#employee_new_btn').on('click',function(){
      $('#employee_new').fadeIn();
      return false;
    });
    
    $('.js-modal-close').on('click',function(){
      $('#employee_new').fadeOut();
      return false;
    });
    
    $('.close').on('click', function(){
      $('#employee_new').fadeOut();
    });
  });
</script>