<div>
  <h2>業種一覧</h2>
  <button class="btn btn-dark" data-toggle="modal" data-target="#industry-new">作成</button>
  <table class="table table-sm table" id="employees-industries-table">
    <tr>
      <th>名前</th>
      <th></th>
    </tr>
    <% @industries.each do |industry| %>
      <tr>
        <td><%= industry.name %></td>
        <td>
          <%= link_to "編集", "#", class: "btn btn-sm btn-dark" %>
          <%= link_to "削除", employees_settings_industry_path(industry), method: :delete, data: { confirm: "この業種を削除してよろしいですか？" }, class: "btn btn-sm btn-danger" %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
