<h1>写真一覧</h1>
<div style="margin-top: 50px; margin-left: -155px; margin-right: 100px;">
  <%= link_to '写真追加', new_employees_matter_image_path, class: "btn btn-md btn-primary" %>
  <%= link_to '編集', edit_employees_matter_image_path(@image.id), class: "btn btn-md btn-primary" %>
</div>

<div>
  <% if @image.images.attached? %>
    <% @image.images.each do |image| %>
      <%= image_tag image.variant(resize: "400x400") %>
      <div class=img-display-area>
        <%= image.filename %>
      </div>
    <% end %>
  <% end %>
</div>
