<div class="manager_staff_login_container container pc_none">
  <div class="row justify-content-sm-center">
    <div class="col col-sm-6" style="text-align: right;">
      <button class= "btn btn-dark manager_login_modal">Manager</button>
    </div>  
  
    <div class="col col-sm-6" style="text-align: left;">
      <div class="dropdown">
        <!-- 切替ボタンの設定 -->
        <button type="button" class="btn btn-dark dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Staff
        </button>
        <!-- ドロップメニューの設定 -->
        <div class="dropdown-menu staff_login_menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item submanager_login_modal" href="#">Submanager</a>
          <a class="dropdown-item staff_login_modal" href="#">Staff</a>
        <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">その他リンク</a>
        </div><!-- /.dropdown-menu -->
      </div><!-- /.dropdown -->
    </div>
    
  </div>
</div>

<div class="login_index_container">
  <p>一般のお客様はこちらから</p>
  <%= link_to "LOGIN", "#", class: "user_login_btn user_login_modal" %>
</div>

<div class="container-fluid">
 <!--user_login-->
  <div class="modal user_login_form">
    <div class="modal__bg js-modal-close"></div>
      <div>
        <%= render partial: './users/sessions/user_login' %>
      </div>
    </div>
  </div>
</div>
<!--end/user-->

<!--modal-->
<script>
$(function(){
    $('.user_login_modal').on('click',function(){
        $('.user_login_form').fadeIn();
        return false;
    });
    $('.js-modal-close').on('click',function(){
        $('.user_login_form').fadeOut();
        return false;
    });
});
</script>