<table class="table table-sm common-table">
  <tr>
    <th>タイトル</th>
    <th>内容</th>
    <th>進行状況</th>
  </tr>
  <% @manager.matters.each do |matter| %>
    <tr>
      <td><%= matter.title %></td>
      <td><%= matter.content %></td>
      <td><%= matter.status %></td>
    </tr>
  <% end %>
</table>
