<div class="container">
  <h2>見積案件一覧
    <%= link_to new_employees_estimate_matter_path, remote: true, class: "btn btn-dark float-r" do %>
      <i class="fas fa-plus"></i> 新規見積案件
    <% end %>
  </h2>
  <div class="card text-center tab-wrapper">
    <div class="card-header bg-dark">
    </div>
    <div class="card-body">
      <div class="tab-content" id="clients-index">

        <table class="table table-sm common-table">
          <tr>
            <th>タイトル</th>
          </tr>
          <% @estimate_matters.each do |estimate_matter| %>
            <tr class="tr-link" data-link="<%= clients_estimate_matter_path(estimate_matter) %>">
              <td><%= estimate_matter.title %></td>
            </tr>
          <% end %>
        </table>

      </div>
    </div>
  </div>
</div>
