// Place all the styles related to the Staff::Settings::StaffEventTitles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ---------------------------------------------------
    STAFF_EVENT_TITLE
----------------------------------------------------- */

.default_staff_event_showarea {
  padding: 1em;
  border: solid 5px #dc3545;
  border-radius: 5px;
}

.default_staff_event_table {
  .active {
    background-color: #e8e6e6;
  }
}

.default_staff_event_title {
  cursor: pointer;
  &:hover {
    background-color: #f1f1f1;
  }
  &:focus {
    background-color: #e8e6e6;
  }
}

.default_staff_event_show, .default_staff_event_edit {
  th {
    background-color: #e8e6e6;
  }
}
