// Place all the styles related to the Admins::Statistics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.estimate_matter_tab {
  background-color: #00bcd4;
  color: white!important;
  font-size: 1.2em;
  display: block;
  padding: 0.5em 0.5em;
}
