// Place all the styles related to the Staff::Matter controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media screen and (min-width:781px){

  .staff_matter_task_index {
   width: 870px;
   margin-left: auto;
   margin-right: auto;
 }

}