/* ------------------------------------------------------
   PLANNAME
------------------------------------------------------*/

.color_square {
  context: ""; 
  border: 1px solid white;
  width: 10em;
}