<% if @response == "success" %>
  $("#estimate-construction-edit").modal("hide");
  $(".flash-wrapper").html('<div class="flash flash-notice time-limit">素材を更新しました。</div>');
  $(".estimates-index").html('<%= escape_javascript(render "shared/estimate_matters/estimates_index") %>');
  $(function(){
    setTimeout("$('.time-limit').fadeOut('slow')", 3000) 
  })
<% else %>
  $(".estimate-construction-update-errors").html('<%= escape_javascript(render "shared/error_messages", resource: @construction) %>');
  <% @construction.errors.messages.keys.each do |key_attribute| %>
    var addDiv = $('<div class="field-with-errors">');
    var addLabel = $('[name="construction[<%= key_attribute.intern.to_s %>]"]').prev();
    $('[name="construction[<%= key_attribute.intern.to_s %>]"]').wrap(addDiv);
    addLabel.wrap(addDiv);
  <% end %>
<% end %>