<div class="col-md-6 offset-md-3 col-12">
  <h2>顧客編集</h2>
  <%= form_with(model: @client, url: employees_client_path(@client), method: :patch, remote: true) do |f| %>
    <div class="client-update-errors"></div>
    <%= render "form", f: f %>
    <div class="btn-area">
      <%= f.submit "更新", class: "btn btn-dark" %>
    </div>
  <% end %>
</div>

<%= render "shared/jq/reset_errors_jq" %>
