<% if @display_type == "success" %>
  $('#search_clients').html('<%= escape_javascript(render partial: "/employees/clients/partial/index_table", locals: { objects: @search_clients }) %>');
<% else %>
  $('#search_clients').html('<tr><td colspan="7">検索にヒットしませんでした</td></tr>');
<% end %>  
$('#has_matter').hide();
$('#no_matter').hide();
$('#radio1').prop('checked', false);
$('#radio2').prop('checked', false);
$('#search_name').val('');