$('#radio1').prop('checked', false);
$('#radio2').prop('checked', false);
$('#tab1').hide();
$('#tab2').hide();
$('#search_clients').show();

<% if @responce == "success" %>
  $('#search_clients').html('<%= escape_javascript(render "/employees/clients/partial/search_index") %>');
<% else %>
  $('#search_clients').html('<tr><td colspan="7">検索にヒットしませんでした（検索内容：<%= @target_name %>）</td></tr>');
<% end %>
