<div class="col-lg-12 col-md-12">
  <h2><i class="fas fa-address-book"></i> <%= @client.name %>詳細</h2>
  
  <nav class="mt-1e">
    <ul id="main">
      <li id="client_detail">情報詳細</li>
      <li id="client_matter">関連案件
        <!--<ul class="drop">-->
        <!--  <div>-->
        <!--    <li class="sublist">成約案件</li>-->
        <!--    <li class="sublist">未成約案件</li>-->
        <!--  </div>-->
        <!--</ul>-->
      </li>
      <div id="marker"></div>
    </ul>
  </nav>
  
  <div class="client_info">
    <%= render "employees/clients/tab_pane/detail" %>
  </div>
  
  <div class="client_matters" style="display: none;">
    <%= render "employees/clients/tab_pane/estimate_matters" %>
  </div>
</div>

<script>
  $('#client_matter').on('click', function(){
    $('.client_matters').show();
    $('.client_info').hide();
  });
  
  $('#client_detail').on('click', function(){
    $('.client_matters').hide();
    $('.client_info').show();
  });
</script>
