<div class="col-12">
  <h2>顧客詳細</h2>
      
  <div class="card">
    <div class="card-header bg-dark tab-wrapper">
      <ul class="nav nav-tabs d-flex flex-column flex-md-row card-header-tabs" id="client-show-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" href="#client-detail" data-toggle="tab" role="tab" aria-controls="client-detail" aria-selected="true">個人情報</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#estimate-matters" data-toggle="tab" role="tab" aria-controls="matters" aria-selected="false">見積案件一覧</a>
        </li>
      </ul>
    </div>
        
    <div class="card-body">
      <div class="tab-content" id="client-show-tab">
            
        <div class="tab-pane fade show active bg-white" id="client-detail" role="tabpanel">
          <div class= "success_flash"></div>
          <div class="clients-matter-index ">
            <%= render "employees/clients/tab_pane/detail" %>
          </div>
        </div>
          
        <div class="tab-pane fade bg-white" id="estimate-matters" role="tabpane2">
          <%= render "employees/clients/tab_pane/estimate_matters" %>
        </div>
      </div>
    </div>
  </div>
</div>

