<div class="col-12">
  <%= render partial: 'employees/settings/partial/index_title', 
             locals: { model_name: t('activerecord.models.attract_method'),
                       path: :new_employees_settings_companies_attract_method_path } %>
  
  <%= render "shared/sortable_explanation" %>

  <div class="attract-methods-index">
    <%= render "employees/settings/companies/attract_methods/partial/index_table" %>
  </div>
</div>
