<div style="text-align: center">
  <h1><%= current_matter.title %>:案件画像一覧</h1>
  <div style="text-align: right; margin-bottom: 10px;">
    <%= link_to 'チャットルーム画像一覧', employees_matter_messages_path(current_matter), local: true, class: "btn btn-md btn-primary" %>
    <%= link_to '画像追加', new_employees_matter_image_path(current_matter), remote: true, class: "btn btn-md btn-primary" %>
  </div>
  <%= render @images %>
</div>