<div class="col-12" id="top-page">

  <!--▼--alert--▼-->
  <section>
    <% if @alert_result == true %>
      <%= render 'shared/top_pages/alert_list/top' %>
    <% end %>
  </section>

  <!--▼--information--▼-->
  <section>
    <% if information_present? %>
      <%= render 'shared/top_pages/information/top' %>
    <% end %>
  </section>

  <!--▼--construction_schedule--▼-->
  <section>
    <div id="today-construction-schedule">
      <ul class="nav nav-tabs title_tab_bar">
        <li class="nav-item">
          <a class="nav-link title_tab">本日の作業</a>
        </li>
      </ul>

      <% if @construction_schedules_for_today.present? %>
        <div class="mt-1e text-center overflow-auto" id="schedule-today">
          <%= render partial: "vendors/construction_schedules/partial/construction_schedule",
                     locals: {construction_schedules: @construction_schedules_for_today,
                              matter_path: :external_staffs_matter_path } %>
        </div>
      <% else %>
        <p class="ml-1e mt-1e">本日の作業はありません</p>
      <% end %>
  </section>

</div>
