<div class="col-12">
  <h2>
    ラベルカラー一覧
    <%= link_to new_employees_settings_label_color_path, remote: true, class: "btn btn-dark float-r" do %>
      <i class="fas fa-plus"></i> 新規ラベルカラー
    <% end %>
  </h2>

  <div class="label-colors-index">
    <%= render "employees/settings/label_colors/partial/index_table" %>
  </div>
</div>
