<!--<!% provide(:to_prev_month_url, managers_attendances_path(date: @first_day.prev_month.beginning_of_month)) %>-->
<!--<!% provide(:to_next_month_url, managers_attendances_path(date: @first_day.next_month.beginning_of_month)) %>-->
<!--<!% provide(:register_attendance_url, managers_attendances_path(@attendance.id)) %>-->

<!--<!%= render "shared/register_attendance" %>-->

<div class="container-fluid">
  <div id="month_attendance">
    <%= render partial: "common_layouts/attendances/show", 
               locals: { target: current_manager, 
                         first_day: @first_day, 
                         attendances: @attendances,
                         path: :change_month_managers_attendances_path
                       } %>
  </div>
</div>
