<div id="employee_new" class="modal fade" role="dialog" aria-labelledby="exampleModalLabel">
  <%= render 'submanager/submanagers/create_employee' %>
</div>

<div id="enduser_new" class="modal fade" role="dialog" aria-labelledby="exampleModalLabel">
  <%= render 'submanager/submanagers/create_enduser' %>
</div>