<div id="employee_new" class="modal fade" role="dialog" aria-labelledby="exampleModalLabel">
  <%= render 'manager/managers/select_employee_type' %>
</div>

<div id="enduser_new" class="modal fade" role="dialog" aria-labelledby="exampleModalLabel">
  <%= render 'manager/managers/create_enduser' %>
</div>

<div id="update_manage_authority_form" class="modal fade" role="dialog" aria-labelledby="exampleModalLabel">
  <%= render 'matter/matters/show_menu/update_manage_authority' %>
</div>

