<div class="col-12">
  <div class="tab-wrap">
    <input id="tab01" type="radio" name="tab" class="tab-switch" checked="checked"><label class="tab-label" for="tab01">報告書項目設定</label>
    <div class="tab-content">
      <%= render "employees/settings/reports/partial/index" %>
    </div>
  </div>
</div>
