<div class="modal-dialog no-padding_modal modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h5>顧客情報編集</h5>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body bg-white pa-2e">
      <%= form_with(model: @client, url: employees_matter_client_path(@matter, @client), method: :patch, remote: true) do |f| %>
        <div class="client-update-errors"></div>
        <%= render "/employees/clients/partial/form", f: f %>
        <div class="btn-area">
          <%= f.submit "更新", class: "btn btn-dark reset-errors" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_include_tag "reset_errors.js" %>