<div id="estimates-pdf">
  <div>御見積書</div>
  <div>
    現場名称：<br>
    現場住所：
  </div>

  <table>
    <tr>
      <th>項目</th>
      <th>工事名称・素材</th>
      <th>耐用年数</th>
      <th>単価</th>
      <th>数量</th>
      <th>計(円)</th>
    </tr>
  </table>
</div>
