<div id="header">
  <div id="estimate-title"><%= @estimate.title %></div>
  <div id="title">御見積書</div>
</div>

<div id="client-info">
  現場名称：<%= @estimate_matter.title %><br>
  現場住所：<%= "#{ @estimate_matter.prefecture_code }#{ @estimate_matter.address_city }#{ @estimate_matter.address_street }" %>
</div>
<div id="company-info">
  <div id="company-logo"></div>
  <div id="company-name">株式会社　ツバケン</div>
  <div id="company-tel">
    TEL: 090-8787-5544
    <span id="person-in-charge">テスト　太郎</span>
  </div>
</div>

<div id="pdf-estimate-table">

</div>
