<div class="row">
  <h2 class="col-md-6"><i class="fas fa-clipboard"></i>案件一覧</h2>
  <div class="col-md-6">
    <div class="float-r">
      <%= form_with(url: "#", method: :post, local: true, class: "connected_code_form" ) do |f| %>
        <div class="display: inline-block">
          <%= f.text_field :connected_id, placeholder: "連結コードを入力", class: "connected_code_text"  %>
          <%= f.submit "連結", class: "connected_code_btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row mt-1e matter-select">
  <div class="col-sm-8">
    <button class="btn matter-select-btn" id="select_progerss">進行案件</button>
    <button class="btn matter-select-btn" id="select_finished">完了案件</button>
  </div>
  <div class="col-sm-4">
    <%= link_to new_employees_matter_path, class: "btn btn-dark mt-1e mb-1e float-r" do %>
        <i class="fas fa-plus"></i> 新規案件作成
    <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-borderd text-nowrap employee_index">
    <thead>
      <tr>
        <th>タイトル</th>
        <th>場所</th>
        <th>顧客</th>
        <th>情報</th>
      </tr>
    </thead>
    
    <tbody id="progress-index" style="display: none;">
    </tbody>
    <tbody id="finished-index" style="display: none;">
    </tbody>
  </table>
</div>

<script>
  $("#select_progerss").on("click", function(){
    $("#select-progerss").addClass("active");
    $("#select-finished").removeClass("active");
    $("#progress-index").show();
    $("#finished-index").hide();
  });
  
  $("#select_finished").on("click", function(){
    $("#select-progerss").removeClass("active");
    $("#select-finished").addClass("active");
    $("#progress-index").hide();
    $("#finished-index").show();
  });
</script>
  