<% if @response == "success" %>
  $("#invoice-object-edit").modal("hide");
  $("#invoice-object-edit").empty();
  $(".flash-wrapper").html('<div class="flash flash-notice time-limit">工事・素材を追加しました。</div>');
  $(".invoice").html('<%= escape_javascript(render "employees/matters/partial/invoice") %>');
  $(function(){
    setTimeout("$('.time-limit').fadeOut('slow')", 3000) 
  })
<% else %>
  $(".invoice-object-update-errors").html('<%= escape_javascript(render "shared/error_messages", resource: @invoice_detail) %>');
  <% @invoice_detail.errors.messages.keys.each do |key_attribute| %>
    var addDiv = $('<div class="field-with-errors">');
    var addLabel = $('[name="invoice_detail[<%= key_attribute.intern.to_s %>]"]').prev();
    $('[name="invoice_detail[<%= key_attribute.intern.to_s %>]"]').wrap(addDiv);
    addLabel.wrap(addDiv);
  <% end %>
<% end %>
