$("#invoice-detail-edit").modal("hide");
$("#invoice-detail-edit").empty();
$(".flash-wrapper").html('<div class="flash flash-notice time-limit">工事・素材を追加しました。</div>');
$(".invoice").html('<%= escape_javascript(render "employees/matters/partial/invoice") %>');
$(function(){
  setTimeout("$('.time-limit').fadeOut('slow')", 3000) 
})
