<div class="modal-dialog no-padding_modal wide_modal">
  <div class="modal-content">
    <div class="modal-header bg-danger">
      警告タスク
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    
    <div class="modal-body bg-white">
      <% if @alert_tasks_for_matter %>
        <%= render 'shared/top_pages/alert_list/tasks/matter_alert' %>
      <% end %>
      <% if @alert_tasks_for_estimate_matter %>
        <%= render 'shared/top_pages/alert_list/tasks/estimate_alert' %>
      <% end %>
      <% if @alert_tasks_for_individual %>
        <%= render 'shared/top_pages/alert_list/tasks/individual_alert' %>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_include_tag "tr_link.js" %>
