<div>
  <h2>スタッフ一覧</h2>
  <%= link_to "作成", new_employees_staff_path, class: "btn btn-dark" %>
  <table class="table table-sm table-hover" id="staffs-table">
    <tr>
      <th>名前</th>
      <th>従業員ID</th>
      <th>電話番号</th>
      <th>入社日</th>
    </tr>
  </table>
</div>