<div class="col-12">
  <h2>Staff詳細</h2>

  <%= render "employees/staffs/partial/detail" %>

    <div class="accordion mt-1e" id="accordionestimates-and-matters">
    <div class="card">
      <div class="card-header bg-dark" id="headingOne">
        <h5 class="text-light">
          担当見積案件・担当案件
          <button class="btn btn-link float-r text-light" type="button" data-toggle="collapse" data-target="#collapse-estimates-and-matters" aria-expanded="true" aria-controls="collapse-estimates-and-matters">
            詳細
          </button>
        </h5>
      </div>

      <div id="collapse-estimates-and-matters" class="collapse" aria-labelledby="headingOne" data-parent="#accordionestimates-and-matters">
        <div class="card-body">
        <%= render "/employees/staffs/partial/estimates_and_matters" %>
        </div>
      </div>
    </div>
  </div>
</div>
