<div class="accordion mt-1e" id="accordion-tasks">
  <div class="card">
    <div class="card-header bg-dark" id="headingTwo">
      <h5 class="text-light">
        タスク管理
        <button class="btn btn-link float-r text-light" type="button" data-toggle="collapse" data-target="#collapse-tasks" aria-expanded="true" aria-controls="collapse-tasks">
          詳細
        </button>
      </h5>
    </div>
      
    <div id="collapse-tasks" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion-tasks">
      <div class="card-body">
        <div class="tasks-index">
          <% if current_admin || current_manager %>
            <%= render "shared/top_pages/tasks/index" %>
          <% elsif current_staff %>
            <%= render "staffs/tasks/partial/tasks_index" %>
          <% elsif %>
            <%= render "external_staffs/tasks/partial/tasks_index" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>