<% if @responce == "success" %>
  $("#certificate-cover-edit").modal("hide");
  $("#certificate-cover-edit").empty();
  $(".flash-wrapper").html('<div class="flash flash-success">診断書情報を更新しました。</div>')
  $(".certificates-cover").html('<%= escape_javascript(render "employees/covers/partial/show") %>');
  $(function(){
    setTimeout("$('.time-limit').fadeOut('slow')", 3000) 
  })
<% else %>
  <%= render partial: 'layouts/modal_error', locals: {dom: ".cover-edit-errors", model: @cover, object: "cover"} %>
<% end %>