<button class="btn btn-dark" data-toggle="modal" data-target="#external-staff-new"><i class="fas fa-plus"></i> 新規外部Staff</button>
<table class="table table-sm common-table">
  <tr>
    <th>名前</th>
    <th>ログインID</th>
    <th>電話番号</th>
  </tr>
  <% @external_staffs.each do |external_staff| %>
    <tr class="tr-link" data-link="<%= employees_supplier_external_staff_path(@supplier, external_staff) %>">
      <td><%= external_staff.name %></td>
      <td><%= external_staff.login_id %></td>
      <td><%= external_staff.phone %></td>
    </tr>
  <% end %>
</table>
