<% if @matter.band_connection.nil? %>
  <p>未設定</p>
<% else %>
  <div class="boxes">
    <div class="label-container ml-05e">
      <%= image_tag @matter.band_connection.band_icon, :size =>"50x50" %>
      <div class="band_name"><%= @matter.band_connection.band_name %></div>
    </div>
  </div>
<% end %> 