<div class="col-12">
  <%= render partial: 'layouts/page_title', locals: { title_1: "その他設定", title_2: nil, icon: "fa-cogs"} %>
  
  <div class="tab-wrap">
    <input id="tab01" type="radio" name="tab" class="tab-switch" checked="checked"><label class="tab-label" for="tab01">カラー設定</label>
    <div class="tab-content" id="publisher_index">
      <%= render 'employees/settings/others/partial/label_color_index' %>
    </div>
    <input id="tab02" type="radio" name="tab" class="tab-switch"><label class="tab-label" for="tab02">見積補足説明</label>
    <div class="tab-content">
      <%= render 'employees/settings/others/partial/instruction_index' %>
    </div>
  </div>
</div>