<% if Certificate.exists? %>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;</button></div>
      <div class="modal-body pa-2e">
        <div class="card mb-3">
          <h5 class="card-header">診断書作成</h5>
          <div class="card-body">
            <%= form_with(model: @certificate, url: employees_estimate_matter_certificates_path(current_estimate_matter), method: :post, remote: true) do |f| %>
              <div class="certificate-create-errors"></div>
              <%= render "form", f: f %>
              <div class="btn-area">
                <%= f.submit "作成", class: "btn btn-dark" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;</button></div>
    <div class="modal-body pa-2e">
      <h5>設定された診断書がないため、作成できません</h5>
      <h5>トップメニュー⇨設定⇨診断書より作成願います</h5>
    </div>
  </div>
</div>
<% end %>

<%= render "shared/reset_errors_jq" %>
