<% if @responce == "success" %>
  $("#estimate-matter-certificate-new").modal("hide");
  $(".flash-wrapper").html('<div class="flash flash-success">診断書情報を作成しました。</div>')
  $(".certificates-index").html('<%= escape_javascript(render "employees/estimate_matters/partial/certificates") %>');
  $(function(){
    setTimeout("$('.time-limit').fadeOut('slow')", 3000) 
  })
<% else %>
  <%= render partial: 'layouts/modal_error', locals: {dom: ".certificate-create-errors", model: @certificate, object: "certificate"} %>
<% end %>
