$("#certificate-edit").modal("hide");
$(".flash-wrapper").html('<div class="flash flash-success">診断書情報を削除しました。</div>')
$(".certificates-index").html('<%= escape_javascript(render "shared/estimate_matters/certificates_index") %>');
