<div class="modal-dialog modal-lg no-padding_modal">
  <div class="modal-content">
    <div class="modal-header">
      工程編集
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
      <%= form_with(model: @construction_schedule, url: employees_matter_construction_schedule_path(@matter, @construction_schedule), method: :patch, remote: true) do |f| %>
        <div class="construction-schedule-update-errors"></div>
          <%= render 'employees/matters/construction_schedules/partial/form', f: f %>
        <div class="btn-area">
          <%= f.submit "更新", class: "btn btn-dark reset-errors" %>
          <%= link_to "削除", employees_matter_construction_schedule_path(@matter, @construction_schedule), method: :delete, remote: true, class: "btn btn-danger" %>
        </div>
      <% end %>
    </div>
  </div>
</div>