<div class="modal-dialog non-card-modal modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      工程作成・追加
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body pa-1e">
      <%= form_with(model: @construction_schedule, url: employees_matter_construction_schedules_path(@matter), method: :post, remote: true) do |f| %>
        <div class="construction_schedule-create-errors"></div>
          <%= render 'employees/matters/construction_schedules/partial/form', f: f %>
        <div class="btn-area">
          <%= f.submit "作成", class: "btn btn-dark reset-errors" %>
        </div>
      <% end %>
    </div>
  </div>
</div>