<div class="table-responsive">
  <table class="table text-nowrap common-table">
    <tr>
      <th>タイトル</th>
      <th>内容</th>
      <th>進行状況</th>
    </tr>
    <% @staff.matters.each do |matter| %>
      <tr>
        <td><%= link_to matter.title, employees_matter_path(matter.id) %></td>
        <td><%= matter.content %></td>
        <td><%= matter.status %></td>
      </tr>
    <% end %>
  </table>
</div>
