<table class="table table-sm">
  <tr>
    <th>名前</th>
    <th width=20%>出勤</th>
    <th width=20%>退勤</th>
    <th width=20%>勤務</th>
  </tr>
  <% attendances.each do |attendance| %>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  <% end %>
</table>