<div class="container">
  <h2>個別勤怠</h2>
      
  <div class="card text-center tab-wrapper">
    <div class="card-header bg-dark">
      <ul class="nav nav-tabs d-flex flex-column flex-md-row card-header-tabs" id="individual-attendances" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" href="#individual-manager" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">Manager</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#individual-staff" data-toggle="tab" role="tab" aria-controls="home" aria-selected="false">Staff</a>
        </li>
      </ul>
    </div>
        
    <div class="card-body">
      <div class="tab-content" id="individual-attendances">
            
        <div class="tab-pane fade show active bg-white" id="individual-manager" role="tabpanel" aria-labelledby="home-tab">
        </div>
          
        <div class="tab-pane fade bg-white" id="individual-staff" role="tabpanel" aria-labelledby="profile-tab">
        </div>
        
      </div>
    </div>
  </div>
</div>
