<div class="container">
  <h2>個別勤怠</h2>
      
  <div class="card text-center tab-wrapper">
    <div class="card-header bg-dark">
      <ul class="nav nav-tabs d-flex flex-column flex-md-row card-header-tabs" id="individual" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" href="#manager" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">Manager</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#staff" data-toggle="tab" role="tab" aria-controls="home" aria-selected="false">Staff</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#external-staff" data-toggle="tab" role="tab" aria-controls="home" aria-selected="false">外部Staff</a>
        </li>
      </ul>
    </div>
        
    <div class="card-body">
      <div class="tab-content" id="individual">
            
        <div class="tab-pane fade show active bg-white" id="manager" role="tabpanel">
        </div>
          
        <div class="tab-pane fade bg-white" id="staff" role="tabpanel">
        </div>

        <div class="tab-pane fade bg-white" id="external-staff" role="tabpanel">
        </div>
        
      </div>
    </div>
  </div>
</div>
