<div class="container">
  <h2>EMPLOYEE一覧</h2>
  
  <div class="row mt-1e">
    <div class="col-sm-8">
      <button class="employee_select_btn" id="select_submanager">Submanager</button>
      <button class="employee_select_btn" id="select_staff">Staff</button>
    </div>
    <div class="col-sm-4">
      <button class="employee_new_btn btn btn-purple mb-1e float-r" data-toggle="modal" data-target="#employee_new"><i class="fas fa-user-plus"></i> 新規作成</button>
    </div>
  </div>
  
  <div class="table-responsive">
    <table class="table tabale-borderd text-nowrap employee_index">
      <thead>
        <tr>
          <th>type</th>
          <th>名前</th>
          <th>email</th>
          <th>基本情報</th>
        </tr>
      </thead>
      <tbody id="submanager_index" style="display: none;">
        <%= render 'manager/managers/employee_type/submanager_index' %>
      </tbody>
      <tbody id="staff_index" style="display: none;">
        <%= render 'manager/managers/employee_type/staff_index' %>
      </tbody>
    </table>
  </div>
</div>

<script>
  $('#select_submanager').on('click', function(){
    $('#select_submanager').addClass('active');
    $('#select_staff').removeClass("active");
    $('#submanager_index').show();
    $('#staff_index').hide();
  });
  
  $('#select_staff').on('click', function(){
    $('#select_submanager').removeClass('active');
    $('#select_staff').addClass("active");
    $('#submanager_index').hide();
    $('#staff_index').show();
  });
</script>


