<div class="container">
  <h2>User一覧</h2>
  <button class="employee_new_btn btn btn-purple mt-0 mb-1e float-r" data-toggle="modal" data-target="#enduser_new"><i class="fas fa-user-plus"></i> 新規作成</button>
  
  <div class="table-responsive">
    <table class="table tabale-borderd text-nowrap employee_index">
      <tr>
        <th>type</th>
        <th>名前</th>
        <th>email</th>
        <th></th>
      </tr>
      <% current_manager.manager_users.each do |manager_user| %>
        <tr>
          <td>User</td>
          <td><%= manager_user.user.name %></td>
          <td><%= manager_user.user.email %></td>
          <td>
            <%= link_to "編集", edit_manager_user_path(current_manager,manager_user.user), class: "btn btn-dark btn-sm" %>
            <%= link_to "削除", manager_user_path(current_manager,manager_user.user), data: {confirm: "#{manager_user.user.name}を削除しますか？"}, method: :delete,class: "btn btn-destroy btn-sm" %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>


