<div class="col-12">
  
  <div class="tab-wrap">
    <input id="tab01" type="radio" name="tab" class="tab-switch" checked="checked"><label class="tab-label" for="tab01">診断書項目設定</label>
    <div class="tab-content">
      <%= render 'employees/settings/certificates/partial/index' %>
    </div>
    <input id="tab02" type="radio" name="tab" class="tab-switch"><label class="tab-label" for="tab02">表紙設定</label>
    <div class="tab-content" id="certificate_cover">
      <%= render 'employees/settings/certificates/partial/cover_index' %>
    </div>
  </div>
</div>
