@charset "UTF-8";
/*各上下左右マージン*/
/* line 3, app/assets/stylesheets/common.scss */
.mg-0 {
  margin: 0px !important;
}

/* line 5, app/assets/stylesheets/common.scss */
.mt-0 {
  margin-top: 0px !important;
}

/* line 6, app/assets/stylesheets/common.scss */
.mt-1 {
  margin-top: 1px !important;
}

/* line 7, app/assets/stylesheets/common.scss */
.mt-2 {
  margin-top: 2px !important;
}

/* line 8, app/assets/stylesheets/common.scss */
.mt-3 {
  margin-top: 3px !important;
}

/* line 9, app/assets/stylesheets/common.scss */
.mt-4 {
  margin-top: 4px !important;
}

/* line 10, app/assets/stylesheets/common.scss */
.mt-5 {
  margin-top: 5px !important;
}

/* line 11, app/assets/stylesheets/common.scss */
.mt-6 {
  margin-top: 6px !important;
}

/* line 12, app/assets/stylesheets/common.scss */
.mt-7 {
  margin-top: 7px !important;
}

/* line 13, app/assets/stylesheets/common.scss */
.mt-8 {
  margin-top: 8px !important;
}

/* line 14, app/assets/stylesheets/common.scss */
.mt-9 {
  margin-top: 9px !important;
}

/* line 15, app/assets/stylesheets/common.scss */
.mt-10 {
  margin-top: 10px !important;
}

/* line 16, app/assets/stylesheets/common.scss */
.mt-15 {
  margin-top: 15px !important;
}

/* line 17, app/assets/stylesheets/common.scss */
.mt-20 {
  margin-top: 20px !important;
}

/* line 18, app/assets/stylesheets/common.scss */
.mt-25 {
  margin-top: 25px !important;
}

/* line 19, app/assets/stylesheets/common.scss */
.mt-30 {
  margin-top: 30px !important;
}

/* line 20, app/assets/stylesheets/common.scss */
.mt-35 {
  margin-top: 35px !important;
}

/* line 21, app/assets/stylesheets/common.scss */
.mt-40 {
  margin-top: 40px !important;
}

/* line 22, app/assets/stylesheets/common.scss */
.mt-45 {
  margin-top: 45px !important;
}

/* line 23, app/assets/stylesheets/common.scss */
.mt-50 {
  margin-top: 50px !important;
}

/* line 24, app/assets/stylesheets/common.scss */
.mt-55 {
  margin-top: 55px !important;
}

/* line 25, app/assets/stylesheets/common.scss */
.mt-60 {
  margin-top: 60px !important;
}

/* line 26, app/assets/stylesheets/common.scss */
.mt-65 {
  margin-top: 65px !important;
}

/* line 27, app/assets/stylesheets/common.scss */
.mt-70 {
  margin-top: 70px !important;
}

/* line 28, app/assets/stylesheets/common.scss */
.mt-75 {
  margin-top: 75px !important;
}

/* line 29, app/assets/stylesheets/common.scss */
.mt-80 {
  margin-top: 80px !important;
}

/* line 30, app/assets/stylesheets/common.scss */
.mt-85 {
  margin-top: 85px !important;
}

/* line 31, app/assets/stylesheets/common.scss */
.mt-90 {
  margin-top: 90px !important;
}

/* line 32, app/assets/stylesheets/common.scss */
.mt-95 {
  margin-top: 95px !important;
}

/* line 33, app/assets/stylesheets/common.scss */
.mt-100 {
  margin-top: 100px !important;
}

/* line 34, app/assets/stylesheets/common.scss */
.mt-05e {
  margin-top: 0.5em !important;
}

/* line 35, app/assets/stylesheets/common.scss */
.mt-1e {
  margin-top: 1em !important;
}

/* line 36, app/assets/stylesheets/common.scss */
.mt-2e {
  margin-top: 2em !important;
}

/* line 38, app/assets/stylesheets/common.scss */
.mb-0 {
  margin-bottom: 0px !important;
}

/* line 39, app/assets/stylesheets/common.scss */
.mb-1 {
  margin-bottom: 1px !important;
}

/* line 40, app/assets/stylesheets/common.scss */
.mb-2 {
  margin-bottom: 2px !important;
}

/* line 41, app/assets/stylesheets/common.scss */
.mb-3 {
  margin-bottom: 3px !important;
}

/* line 42, app/assets/stylesheets/common.scss */
.mb-4 {
  margin-bottom: 4px !important;
}

/* line 43, app/assets/stylesheets/common.scss */
.mb-5 {
  margin-bottom: 5px !important;
}

/* line 44, app/assets/stylesheets/common.scss */
.mb-6 {
  margin-bottom: 6px !important;
}

/* line 45, app/assets/stylesheets/common.scss */
.mb-7 {
  margin-bottom: 7px !important;
}

/* line 46, app/assets/stylesheets/common.scss */
.mb-8 {
  margin-bottom: 8px !important;
}

/* line 47, app/assets/stylesheets/common.scss */
.mb-9 {
  margin-bottom: 9px !important;
}

/* line 48, app/assets/stylesheets/common.scss */
.mb-10 {
  margin-bottom: 10px !important;
}

/* line 49, app/assets/stylesheets/common.scss */
.mb-15 {
  margin-bottom: 15px !important;
}

/* line 50, app/assets/stylesheets/common.scss */
.mb-20 {
  margin-bottom: 20px !important;
}

/* line 51, app/assets/stylesheets/common.scss */
.mb-25 {
  margin-bottom: 25px !important;
}

/* line 52, app/assets/stylesheets/common.scss */
.mb-30 {
  margin-bottom: 30px !important;
}

/* line 53, app/assets/stylesheets/common.scss */
.mb-35 {
  margin-bottom: 35px !important;
}

/* line 54, app/assets/stylesheets/common.scss */
.mb-40 {
  margin-bottom: 40px !important;
}

/* line 55, app/assets/stylesheets/common.scss */
.mb-45 {
  margin-bottom: 45px !important;
}

/* line 56, app/assets/stylesheets/common.scss */
.mb-50 {
  margin-bottom: 50px !important;
}

/* line 57, app/assets/stylesheets/common.scss */
.mb-55 {
  margin-bottom: 55px !important;
}

/* line 58, app/assets/stylesheets/common.scss */
.mb-60 {
  margin-bottom: 60px !important;
}

/* line 59, app/assets/stylesheets/common.scss */
.mb-65 {
  margin-bottom: 65px !important;
}

/* line 60, app/assets/stylesheets/common.scss */
.mb-70 {
  margin-bottom: 70px !important;
}

/* line 61, app/assets/stylesheets/common.scss */
.mb-75 {
  margin-bottom: 75px !important;
}

/* line 62, app/assets/stylesheets/common.scss */
.mb-80 {
  margin-bottom: 80px !important;
}

/* line 63, app/assets/stylesheets/common.scss */
.mb-85 {
  margin-bottom: 85px !important;
}

/* line 64, app/assets/stylesheets/common.scss */
.mb-90 {
  margin-bottom: 90px !important;
}

/* line 65, app/assets/stylesheets/common.scss */
.mb-95 {
  margin-bottom: 95px !important;
}

/* line 66, app/assets/stylesheets/common.scss */
.mb-100 {
  margin-bottom: 100px !important;
}

/* line 67, app/assets/stylesheets/common.scss */
.mb-05e {
  margin-bottom: 0.5em !important;
}

/* line 68, app/assets/stylesheets/common.scss */
.mb-1e {
  margin-bottom: 1em !important;
}

/* line 69, app/assets/stylesheets/common.scss */
.mb-2e {
  margin-bottom: 2em !important;
}

/* line 71, app/assets/stylesheets/common.scss */
.ml-0 {
  margin-left: 0px !important;
}

/* line 72, app/assets/stylesheets/common.scss */
.ml-1 {
  margin-left: 1px !important;
}

/* line 73, app/assets/stylesheets/common.scss */
.ml-2 {
  margin-left: 2px !important;
}

/* line 74, app/assets/stylesheets/common.scss */
.ml-3 {
  margin-left: 3px !important;
}

/* line 75, app/assets/stylesheets/common.scss */
.ml-4 {
  margin-left: 4px !important;
}

/* line 76, app/assets/stylesheets/common.scss */
.ml-5 {
  margin-left: 5px !important;
}

/* line 77, app/assets/stylesheets/common.scss */
.ml-6 {
  margin-left: 6px !important;
}

/* line 78, app/assets/stylesheets/common.scss */
.ml-7 {
  margin-left: 7px !important;
}

/* line 79, app/assets/stylesheets/common.scss */
.ml-8 {
  margin-left: 8px !important;
}

/* line 80, app/assets/stylesheets/common.scss */
.ml-9 {
  margin-left: 9px !important;
}

/* line 81, app/assets/stylesheets/common.scss */
.ml-10 {
  margin-left: 10px !important;
}

/* line 82, app/assets/stylesheets/common.scss */
.ml-15 {
  margin-left: 15px !important;
}

/* line 83, app/assets/stylesheets/common.scss */
.ml-20 {
  margin-left: 20px !important;
}

/* line 84, app/assets/stylesheets/common.scss */
.ml-25 {
  margin-left: 25px !important;
}

/* line 85, app/assets/stylesheets/common.scss */
.ml-30 {
  margin-left: 30px !important;
}

/* line 86, app/assets/stylesheets/common.scss */
.ml-35 {
  margin-left: 35px !important;
}

/* line 87, app/assets/stylesheets/common.scss */
.ml-40 {
  margin-left: 40px !important;
}

/* line 88, app/assets/stylesheets/common.scss */
.ml-45 {
  margin-left: 45px !important;
}

/* line 89, app/assets/stylesheets/common.scss */
.ml-50 {
  margin-left: 50px !important;
}

/* line 90, app/assets/stylesheets/common.scss */
.ml-55 {
  margin-left: 55px !important;
}

/* line 91, app/assets/stylesheets/common.scss */
.ml-60 {
  margin-left: 60px !important;
}

/* line 92, app/assets/stylesheets/common.scss */
.ml-65 {
  margin-left: 65px !important;
}

/* line 93, app/assets/stylesheets/common.scss */
.ml-70 {
  margin-left: 70px !important;
}

/* line 94, app/assets/stylesheets/common.scss */
.ml-75 {
  margin-left: 75px !important;
}

/* line 95, app/assets/stylesheets/common.scss */
.ml-80 {
  margin-left: 80px !important;
}

/* line 96, app/assets/stylesheets/common.scss */
.ml-85 {
  margin-left: 85px !important;
}

/* line 97, app/assets/stylesheets/common.scss */
.ml-90 {
  margin-left: 90px !important;
}

/* line 98, app/assets/stylesheets/common.scss */
.ml-95 {
  margin-left: 95px !important;
}

/* line 99, app/assets/stylesheets/common.scss */
.ml-100 {
  margin-left: 100px !important;
}

/* line 100, app/assets/stylesheets/common.scss */
.ml-05e {
  margin-left: 0.5em !important;
}

/* line 101, app/assets/stylesheets/common.scss */
.ml-1e {
  margin-left: 1em !important;
}

/* line 102, app/assets/stylesheets/common.scss */
.ml-2e {
  margin-left: 2em !important;
}

/* line 104, app/assets/stylesheets/common.scss */
.mr-0 {
  margin-right: 0px !important;
}

/* line 105, app/assets/stylesheets/common.scss */
.mr-1 {
  margin-right: 1px !important;
}

/* line 106, app/assets/stylesheets/common.scss */
.mr-2 {
  margin-right: 2px !important;
}

/* line 107, app/assets/stylesheets/common.scss */
.mr-3 {
  margin-right: 3px !important;
}

/* line 108, app/assets/stylesheets/common.scss */
.mr-4 {
  margin-right: 4px !important;
}

/* line 109, app/assets/stylesheets/common.scss */
.mr-5 {
  margin-right: 5px !important;
}

/* line 110, app/assets/stylesheets/common.scss */
.mr-6 {
  margin-right: 6px !important;
}

/* line 111, app/assets/stylesheets/common.scss */
.mr-7 {
  margin-right: 7px !important;
}

/* line 112, app/assets/stylesheets/common.scss */
.mr-8 {
  margin-right: 8px !important;
}

/* line 113, app/assets/stylesheets/common.scss */
.mr-9 {
  margin-right: 9px !important;
}

/* line 114, app/assets/stylesheets/common.scss */
.mr-10 {
  margin-right: 10px !important;
}

/* line 115, app/assets/stylesheets/common.scss */
.mr-12 {
  margin-right: 12px !important;
}

/* line 116, app/assets/stylesheets/common.scss */
.mr-15 {
  margin-right: 15px !important;
}

/* line 117, app/assets/stylesheets/common.scss */
.mr-20 {
  margin-right: 20px !important;
}

/* line 118, app/assets/stylesheets/common.scss */
.mr-25 {
  margin-right: 25px !important;
}

/* line 119, app/assets/stylesheets/common.scss */
.mr-30 {
  margin-right: 30px !important;
}

/* line 120, app/assets/stylesheets/common.scss */
.mr-35 {
  margin-right: 35px !important;
}

/* line 121, app/assets/stylesheets/common.scss */
.mr-40 {
  margin-right: 40px !important;
}

/* line 122, app/assets/stylesheets/common.scss */
.mr-45 {
  margin-right: 45px !important;
}

/* line 123, app/assets/stylesheets/common.scss */
.mr-50 {
  margin-right: 50px !important;
}

/* line 124, app/assets/stylesheets/common.scss */
.mr-55 {
  margin-right: 55px !important;
}

/* line 125, app/assets/stylesheets/common.scss */
.mr-60 {
  margin-right: 60px !important;
}

/* line 126, app/assets/stylesheets/common.scss */
.mr-65 {
  margin-right: 65px !important;
}

/* line 127, app/assets/stylesheets/common.scss */
.mr-70 {
  margin-right: 70px !important;
}

/* line 128, app/assets/stylesheets/common.scss */
.mr-75 {
  margin-right: 75px !important;
}

/* line 129, app/assets/stylesheets/common.scss */
.mr-80 {
  margin-right: 80px !important;
}

/* line 130, app/assets/stylesheets/common.scss */
.mr-85 {
  margin-right: 85px !important;
}

/* line 131, app/assets/stylesheets/common.scss */
.mr-90 {
  margin-right: 90px !important;
}

/* line 132, app/assets/stylesheets/common.scss */
.mr-95 {
  margin-right: 95px !important;
}

/* line 133, app/assets/stylesheets/common.scss */
.mr-100 {
  margin-right: 100px !important;
}

/* line 134, app/assets/stylesheets/common.scss */
.mr-05e {
  margin-right: 0.5em !important;
}

/* line 135, app/assets/stylesheets/common.scss */
.mr-1e {
  margin-right: 1em !important;
}

/* line 136, app/assets/stylesheets/common.scss */
.mr-2e {
  margin-right: 2em !important;
}

/*各上下左右パディング*/
/* line 139, app/assets/stylesheets/common.scss */
.pd-0 {
  padding: 0px !important;
}

/* line 141, app/assets/stylesheets/common.scss */
.pt-0 {
  padding-top: 0px !important;
}

/* line 142, app/assets/stylesheets/common.scss */
.pt-1 {
  padding-top: 1px !important;
}

/* line 143, app/assets/stylesheets/common.scss */
.pt-2 {
  padding-top: 2px !important;
}

/* line 144, app/assets/stylesheets/common.scss */
.pt-3 {
  padding-top: 3px !important;
}

/* line 145, app/assets/stylesheets/common.scss */
.pt-4 {
  padding-top: 4px !important;
}

/* line 146, app/assets/stylesheets/common.scss */
.pt-5 {
  padding-top: 5px !important;
}

/* line 147, app/assets/stylesheets/common.scss */
.pt-6 {
  padding-top: 6px !important;
}

/* line 148, app/assets/stylesheets/common.scss */
.pt-7 {
  padding-top: 7px !important;
}

/* line 149, app/assets/stylesheets/common.scss */
.pt-8 {
  padding-top: 8px !important;
}

/* line 150, app/assets/stylesheets/common.scss */
.pt-9 {
  padding-top: 9px !important;
}

/* line 151, app/assets/stylesheets/common.scss */
.pt-10 {
  padding-top: 10px !important;
}

/* line 152, app/assets/stylesheets/common.scss */
.pt-15 {
  padding-top: 15px !important;
}

/* line 153, app/assets/stylesheets/common.scss */
.pt-20 {
  padding-top: 20px !important;
}

/* line 154, app/assets/stylesheets/common.scss */
.pt-25 {
  padding-top: 25px !important;
}

/* line 155, app/assets/stylesheets/common.scss */
.pt-30 {
  padding-top: 30px !important;
}

/* line 156, app/assets/stylesheets/common.scss */
.pt-35 {
  padding-top: 35px !important;
}

/* line 157, app/assets/stylesheets/common.scss */
.pt-40 {
  padding-top: 40px !important;
}

/* line 158, app/assets/stylesheets/common.scss */
.pt-45 {
  padding-top: 45px !important;
}

/* line 159, app/assets/stylesheets/common.scss */
.pt-50 {
  padding-top: 50px !important;
}

/* line 160, app/assets/stylesheets/common.scss */
.pt-55 {
  padding-top: 55px !important;
}

/* line 161, app/assets/stylesheets/common.scss */
.pt-60 {
  padding-top: 60px !important;
}

/* line 162, app/assets/stylesheets/common.scss */
.pt-65 {
  padding-top: 65px !important;
}

/* line 163, app/assets/stylesheets/common.scss */
.pt-70 {
  padding-top: 70px !important;
}

/* line 164, app/assets/stylesheets/common.scss */
.pt-75 {
  padding-top: 75px !important;
}

/* line 165, app/assets/stylesheets/common.scss */
.pt-80 {
  padding-top: 80px !important;
}

/* line 166, app/assets/stylesheets/common.scss */
.pt-85 {
  padding-top: 85px !important;
}

/* line 167, app/assets/stylesheets/common.scss */
.pt-90 {
  padding-top: 90px !important;
}

/* line 168, app/assets/stylesheets/common.scss */
.pt-95 {
  padding-top: 95px !important;
}

/* line 169, app/assets/stylesheets/common.scss */
.pt-100 {
  padding-top: 100px !important;
}

/* line 170, app/assets/stylesheets/common.scss */
.pt-05e {
  padding-top: 0.5em !important;
}

/* line 171, app/assets/stylesheets/common.scss */
.pt-1e {
  padding-top: 1em !important;
}

/* line 172, app/assets/stylesheets/common.scss */
.pt-2e {
  padding-top: 2em !important;
}

/* line 174, app/assets/stylesheets/common.scss */
.pb-0 {
  padding-bottom: 0px !important;
}

/* line 175, app/assets/stylesheets/common.scss */
.pb-1 {
  padding-bottom: 1px !important;
}

/* line 176, app/assets/stylesheets/common.scss */
.pb-2 {
  padding-bottom: 2px !important;
}

/* line 177, app/assets/stylesheets/common.scss */
.pb-3 {
  padding-bottom: 3px !important;
}

/* line 178, app/assets/stylesheets/common.scss */
.pb-4 {
  padding-bottom: 4px !important;
}

/* line 179, app/assets/stylesheets/common.scss */
.pb-5 {
  padding-bottom: 5px !important;
}

/* line 180, app/assets/stylesheets/common.scss */
.pb-6 {
  padding-bottom: 6px !important;
}

/* line 181, app/assets/stylesheets/common.scss */
.pb-7 {
  padding-bottom: 7px !important;
}

/* line 182, app/assets/stylesheets/common.scss */
.pb-8 {
  padding-bottom: 8px !important;
}

/* line 183, app/assets/stylesheets/common.scss */
.pb-9 {
  padding-bottom: 9px !important;
}

/* line 184, app/assets/stylesheets/common.scss */
.pb-10 {
  padding-bottom: 10px !important;
}

/* line 185, app/assets/stylesheets/common.scss */
.pb-15 {
  padding-bottom: 15px !important;
}

/* line 186, app/assets/stylesheets/common.scss */
.pb-20 {
  padding-bottom: 20px !important;
}

/* line 187, app/assets/stylesheets/common.scss */
.pb-25 {
  padding-bottom: 25px !important;
}

/* line 188, app/assets/stylesheets/common.scss */
.pb-30 {
  padding-bottom: 30px !important;
}

/* line 189, app/assets/stylesheets/common.scss */
.pb-35 {
  padding-bottom: 35px !important;
}

/* line 190, app/assets/stylesheets/common.scss */
.pb-40 {
  padding-bottom: 40px !important;
}

/* line 191, app/assets/stylesheets/common.scss */
.pb-45 {
  padding-bottom: 45px !important;
}

/* line 192, app/assets/stylesheets/common.scss */
.pb-50 {
  padding-bottom: 50px !important;
}

/* line 193, app/assets/stylesheets/common.scss */
.pb-55 {
  padding-bottom: 55px !important;
}

/* line 194, app/assets/stylesheets/common.scss */
.pb-60 {
  padding-bottom: 60px !important;
}

/* line 195, app/assets/stylesheets/common.scss */
.pb-65 {
  padding-bottom: 65px !important;
}

/* line 196, app/assets/stylesheets/common.scss */
.pb-70 {
  padding-bottom: 70px !important;
}

/* line 197, app/assets/stylesheets/common.scss */
.pb-75 {
  padding-bottom: 75px !important;
}

/* line 198, app/assets/stylesheets/common.scss */
.pb-80 {
  padding-bottom: 80px !important;
}

/* line 199, app/assets/stylesheets/common.scss */
.pb-85 {
  padding-bottom: 85px !important;
}

/* line 200, app/assets/stylesheets/common.scss */
.pb-90 {
  padding-bottom: 90px !important;
}

/* line 201, app/assets/stylesheets/common.scss */
.pb-95 {
  padding-bottom: 95px !important;
}

/* line 202, app/assets/stylesheets/common.scss */
.pb-100 {
  padding-bottom: 100px !important;
}

/* line 203, app/assets/stylesheets/common.scss */
.pb-140 {
  padding-bottom: 140px !important;
}

/* line 204, app/assets/stylesheets/common.scss */
.pb-05e {
  padding-bottom: 0.5em !important;
}

/* line 205, app/assets/stylesheets/common.scss */
.pb-1e {
  padding-bottom: 1em !important;
}

/* line 206, app/assets/stylesheets/common.scss */
.pb-2e {
  padding-bottom: 2em !important;
}

/* line 208, app/assets/stylesheets/common.scss */
.pl-0 {
  padding-left: 0px !important;
}

/* line 209, app/assets/stylesheets/common.scss */
.pl-1 {
  padding-left: 1px !important;
}

/* line 210, app/assets/stylesheets/common.scss */
.pl-2 {
  padding-left: 2px !important;
}

/* line 211, app/assets/stylesheets/common.scss */
.pl-3 {
  padding-left: 3px !important;
}

/* line 212, app/assets/stylesheets/common.scss */
.pl-4 {
  padding-left: 4px !important;
}

/* line 213, app/assets/stylesheets/common.scss */
.pl-5 {
  padding-left: 5px !important;
}

/* line 214, app/assets/stylesheets/common.scss */
.pl-6 {
  padding-left: 6px !important;
}

/* line 215, app/assets/stylesheets/common.scss */
.pl-7 {
  padding-left: 7px !important;
}

/* line 216, app/assets/stylesheets/common.scss */
.pl-8 {
  padding-left: 8px !important;
}

/* line 217, app/assets/stylesheets/common.scss */
.pl-9 {
  padding-left: 9px !important;
}

/* line 218, app/assets/stylesheets/common.scss */
.pl-10 {
  padding-left: 10px !important;
}

/* line 219, app/assets/stylesheets/common.scss */
.pl-15 {
  padding-left: 15px !important;
}

/* line 220, app/assets/stylesheets/common.scss */
.pl-20 {
  padding-left: 20px !important;
}

/* line 221, app/assets/stylesheets/common.scss */
.pl-25 {
  padding-left: 25px !important;
}

/* line 222, app/assets/stylesheets/common.scss */
.pl-30 {
  padding-left: 30px !important;
}

/* line 223, app/assets/stylesheets/common.scss */
.pl-35 {
  padding-left: 35px !important;
}

/* line 224, app/assets/stylesheets/common.scss */
.pl-40 {
  padding-left: 40px !important;
}

/* line 225, app/assets/stylesheets/common.scss */
.pl-45 {
  padding-left: 45px !important;
}

/* line 226, app/assets/stylesheets/common.scss */
.pl-50 {
  padding-left: 50px !important;
}

/* line 227, app/assets/stylesheets/common.scss */
.pl-55 {
  padding-left: 55px !important;
}

/* line 228, app/assets/stylesheets/common.scss */
.pl-60 {
  padding-left: 60px !important;
}

/* line 229, app/assets/stylesheets/common.scss */
.pl-65 {
  padding-left: 65px !important;
}

/* line 230, app/assets/stylesheets/common.scss */
.pl-70 {
  padding-left: 70px !important;
}

/* line 231, app/assets/stylesheets/common.scss */
.pl-75 {
  padding-left: 75px !important;
}

/* line 232, app/assets/stylesheets/common.scss */
.pl-80 {
  padding-left: 80px !important;
}

/* line 233, app/assets/stylesheets/common.scss */
.pl-85 {
  padding-left: 85px !important;
}

/* line 234, app/assets/stylesheets/common.scss */
.pl-90 {
  padding-left: 90px !important;
}

/* line 235, app/assets/stylesheets/common.scss */
.pl-95 {
  padding-left: 95px !important;
}

/* line 236, app/assets/stylesheets/common.scss */
.pl-100 {
  padding-left: 100px !important;
}

/* line 237, app/assets/stylesheets/common.scss */
.pl-05e {
  padding-left: 0.5em !important;
}

/* line 238, app/assets/stylesheets/common.scss */
.pl-1e {
  padding-left: 1em !important;
}

/* line 239, app/assets/stylesheets/common.scss */
.pl-2e {
  padding-left: 2em !important;
}

/* line 241, app/assets/stylesheets/common.scss */
.pr-0 {
  padding-right: 0px !important;
}

/* line 242, app/assets/stylesheets/common.scss */
.pr-1 {
  padding-right: 1px !important;
}

/* line 243, app/assets/stylesheets/common.scss */
.pr-2 {
  padding-right: 2px !important;
}

/* line 244, app/assets/stylesheets/common.scss */
.pr-3 {
  padding-right: 3px !important;
}

/* line 245, app/assets/stylesheets/common.scss */
.pr-4 {
  padding-right: 4px !important;
}

/* line 246, app/assets/stylesheets/common.scss */
.pr-5 {
  padding-right: 5px !important;
}

/* line 247, app/assets/stylesheets/common.scss */
.pr-6 {
  padding-right: 6px !important;
}

/* line 248, app/assets/stylesheets/common.scss */
.pr-7 {
  padding-right: 7px !important;
}

/* line 249, app/assets/stylesheets/common.scss */
.pr-8 {
  padding-right: 8px !important;
}

/* line 250, app/assets/stylesheets/common.scss */
.pr-9 {
  padding-right: 9px !important;
}

/* line 251, app/assets/stylesheets/common.scss */
.pr-10 {
  padding-right: 10px !important;
}

/* line 252, app/assets/stylesheets/common.scss */
.pr-12 {
  padding-right: 12px !important;
}

/* line 253, app/assets/stylesheets/common.scss */
.pr-15 {
  padding-right: 15px !important;
}

/* line 254, app/assets/stylesheets/common.scss */
.pr-20 {
  padding-right: 20px !important;
}

/* line 255, app/assets/stylesheets/common.scss */
.pr-25 {
  padding-right: 25px !important;
}

/* line 256, app/assets/stylesheets/common.scss */
.pr-30 {
  padding-right: 30px !important;
}

/* line 257, app/assets/stylesheets/common.scss */
.pr-35 {
  padding-right: 35px !important;
}

/* line 258, app/assets/stylesheets/common.scss */
.pr-40 {
  padding-right: 40px !important;
}

/* line 259, app/assets/stylesheets/common.scss */
.pr-45 {
  padding-right: 45px !important;
}

/* line 260, app/assets/stylesheets/common.scss */
.pr-50 {
  padding-right: 50px !important;
}

/* line 261, app/assets/stylesheets/common.scss */
.pr-55 {
  padding-right: 55px !important;
}

/* line 262, app/assets/stylesheets/common.scss */
.pr-60 {
  padding-right: 60px !important;
}

/* line 263, app/assets/stylesheets/common.scss */
.pr-65 {
  padding-right: 65px !important;
}

/* line 264, app/assets/stylesheets/common.scss */
.pr-70 {
  padding-right: 70px !important;
}

/* line 265, app/assets/stylesheets/common.scss */
.pr-75 {
  padding-right: 75px !important;
}

/* line 266, app/assets/stylesheets/common.scss */
.pr-80 {
  padding-right: 80px !important;
}

/* line 267, app/assets/stylesheets/common.scss */
.pr-85 {
  padding-right: 85px !important;
}

/* line 268, app/assets/stylesheets/common.scss */
.pr-90 {
  padding-right: 90px !important;
}

/* line 269, app/assets/stylesheets/common.scss */
.pr-95 {
  padding-right: 95px !important;
}

/* line 270, app/assets/stylesheets/common.scss */
.pr-100 {
  padding-right: 100px !important;
}

/* line 271, app/assets/stylesheets/common.scss */
.pr-05e {
  padding-right: 0.5em !important;
}

/* line 272, app/assets/stylesheets/common.scss */
.pr-1e {
  padding-right: 1em !important;
}

/* line 273, app/assets/stylesheets/common.scss */
.pr-2e {
  padding-right: 2em !important;
}

/* line 277, app/assets/stylesheets/common.scss */
.float-r {
  float: right;
}

/* line 278, app/assets/stylesheets/common.scss */
.float-l {
  float: left;
}

/* line 279, app/assets/stylesheets/common.scss */
.text-left {
  text-align: left;
}

/* line 280, app/assets/stylesheets/common.scss */
.text-right {
  text-align: right;
}

/* line 283, app/assets/stylesheets/common.scss */
.button-position {
  margin-top: -60px;
  margin-left: -25px;
  position: absolute;
}

/* line 284, app/assets/stylesheets/common.scss */
.text-center {
  text-align: center;
}

/* line 287, app/assets/stylesheets/common.scss */
.title_layout {
  border-bottom: solid 3px black;
  display: inline-block;
}
