/* line 5, app/assets/stylesheets/static_pages.scss */
.login-main-content {
  text-align: center;
  padding: 20px 20px;
}

/* line 10, app/assets/stylesheets/static_pages.scss */
.grid-login {
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  width: 400px;
}

/* line 16, app/assets/stylesheets/static_pages.scss */
.grid-login h2 {
  background: #3f51b5;
  border-radius: 20px 20px 0 0;
  color: #fff;
  font-size: 28px;
  padding: 20px 26px;
  margin-bottom: 0;
}

/* line 25, app/assets/stylesheets/static_pages.scss */
.grid-login h2 span[class*="fontawesome-"] {
  margin-right: 14px;
}

/* line 29, app/assets/stylesheets/static_pages.scss */
.grid-login fieldset {
  background: #fff;
  border-radius: 0 0 20px 20px;
  padding: 20px 26px;
}

/* line 34, app/assets/stylesheets/static_pages.scss */
.grid-login fieldset p {
  color: #777;
  margin-bottom: 14px;
}

/* line 39, app/assets/stylesheets/static_pages.scss */
.grid-login fieldset p:last-child {
  margin-bottom: 0;
}

/* line 43, app/assets/stylesheets/static_pages.scss */
.grid-login fieldset input {
  border-radius: 3px;
}

/* line 47, app/assets/stylesheets/static_pages.scss */
.grid-login fieldset input[type="submit"] {
  background: #6c757d;
  color: #fff;
  display: block;
  margin: 0 auto;
  padding: 4px 0;
  width: 100px;
}

/* line 56, app/assets/stylesheets/static_pages.scss */
.grid-login fieldset input[type="submit"]:hover {
  background: #343a40;
}

/* line 60, app/assets/stylesheets/static_pages.scss */
.grid-login fieldset input[type="text"], .grid-login fieldset input[type="password"] {
  background: #d8d6d6;
  color: black;
  padding: 4px 10px;
  width: 100%;
}

@-webkit-keyframes simple_square_btn6 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes simple_square_btn6 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
