$(".flash-wrapper").html('<div class="flash flash-notice time-limit">見積を複製しました</div>');
$(".estimates-index").html('<%= escape_javascript(render "employees/estimate_matters/partial/estimates_index", 
                                                         estimates: @estimates, 
                                                         estimate_matter: @estimate_matter,
                                                         estimate_details: @estimate_details) %>');
$(function(){
  setTimeout("$('.time-limit').fadeOut('slow')", 3000) 
})
