<table>
  <tr>
    <th>項目</th>
    <th>工事名称・素材</th>
    <th>耐用年数</th>
    <th>単価</th>
    <th>数量</th>
    <th>計(円)</th>
  </tr>
  <% @estimates.each do |estimate| %>
    <tr>
      <td><%= estimate.title %></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  <% end %>
</table>
