<div class="text-center mr-1e">
  <button class="btn btn-primary" id="print">印刷</button>
</div>

<div>
  <%= render "shared/estimate_matters/estimates", container_type: "a4_container" %>
</div>

<div id="print-area" style="display: none">
  <%= render "shared/estimate_matters/estimates", container_type: "a4_print_container" %>
</div>

<script>
  $("#print").click(function() {
    $("body > :not(#print-area)").hide();
    $("body").addClass("bg-white");
    $("#print-area").show();
    window.print();
    $("body > :not(#print-area)").show();
    $("#print-area").hide();
    $("body").removeClass("bg-white");
  });
</script>
