<% if @response == "success" %>
  $("#estimate-edit").modal("hide");
  $(".flash-wrapper").html('<div class="flash flash-notice time-limit">見積を更新しました。</div>');
  $(".estimates-index").html('<%= escape_javascript(render partial: "employees/estimate_matters/partial/estimates_index", locals: {estimates: @estimates, estimate_matter: @estimate_matter}) %>');
  $(function(){
    setTimeout("$('.time-limit').fadeOut('slow')", 3000) 
  })
<% end %>