<% if @report_cover.present? %>
  <div class="row report-cover-show">
    <div class="col-12"></div>
    <div class="col-4"></div>
    <div class="col-4"></div>
    <div class="col-4"></div>
  </div>
<% end %>
