<!--<!% provide(:to_prev_month_url, staffs_attendances_path(date: @first_day.prev_month.beginning_of_month)) %>-->
<!--<!% provide(:to_next_month_url, staffs_attendances_path(date: @first_day.next_month.beginning_of_month)) %>-->
<!--<!% provide(:register_attendance_url, staffs_attendance_path(@attendance)) %>-->
<div class="container-fluid">
  <div id="month_attendance">
    <%= render partial: "common_layouts/attendances/show", 
               locals: { target: current_staff, 
                         first_day: @first_day, 
                         attendances: @attendances,
                         path: :change_month_staffs_attendances_path
                       } %>
  </div>
</div>
