<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;</button></div>
    <div class="modal-body pa-2e">
      <div class="card mb-3">
        <h5 class="card-header">部署編集</h5>
        <div class="card-body">
          <%= form_with(model: @department, url: employees_settings_department_path(@department), method: :patch, remote: true) do |f| %>
            <div class="department-update-errors"></div>
            <%= render "form", f: f %>
            <div class="btn-area">
              <%= f.submit "更新", class: "btn btn-dark" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "shared/jq/reset_errors_jq" %>
