<form id="avator-change">
  <label class="edit_avator" for="avator">
    <i class="fas fa-camera"></i> 変更
    <input type="file" name="avator", id="avator", accept='image/jpg,image/jpeg,image/png,image/gif'>
  </label>
</form>