<i class="fas fa-bell"> 通知</i>
<% if login_user.recieve_notifications.count > 0 %>
  <span class="badge badge-pill badge-danger notifi-badge">
    <%= login_user.recieve_notifications.count %>
  </span>
<% end %>