<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;</button></div>
    <div class="modal-body pa-2e">
      <div class="card mb-3">
        <h5 class="card-header">プラン名編集</h5>
        <div class="card-body">
          <%= form_with(model: @plan_name, url: employees_settings_plan_name_path(@plan_name), method: :patch, remote: true) do |f| %>
            <div class="plan-name-update-errors"></div>
            <%= render "form", f: f %>
            <div class="btn-area">
              <%= f.submit "更新", class: "btn btn-dark reset-errors" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "reset_errors.js" %>
