<%= f.label :name %>
<%= f.text_field :name, required: true, class: "form-control", maxlength: 30 %>

<%= f.label :label_color %>
<div class="input-group">
  <%= f.select :label_color, PlanName.label_colors.keys.map{ |k| [I18n.t("enums.plan_name.label_color.#{ k }"), k] }, {}, class: "form-control" %>
  <div class="input-group-append">
    <span class="input-group-text" style="width: 3em;" id="color-sample"></span>
  </div>
</div>

<script>
  var colorSample = $("#color-sample");
  var colorSelect = $('[name="plan_name[label_color]"]'); 
  colorSample.css("background", colorSelect.val());

  colorSelect.change(function() {
    colorSample.css("background", $(this).val());
  });
</script>
