<div class="col-12">
  <h2>
  外部Staff一覧
    <%= link_to new_employees_external_staff_path, remote: true, class: "btn btn-dark float-r" do %>
      <i class="fas fa-plus"></i> 新規外部Staff
    <% end %>
  </h2>
  <div class="card text-center tab-wrapper">
    <div class="card-body">
      <div class="tab-content" id="external_staffs-index">

        <div class="tab-pane fade show active bg-white" id="" role="tabpanel">
          <table class="table table-bordered common-table">
            <tr>
              <th>名前</th>
              <th>ログインID</th>
            </tr>
            <% @external_staffs.each do |external_staff| %>
              <tr class="tr-link" data-link="<%= employees_external_staff_path(external_staff) %>">
                <td><%= external_staff.name %></td>
                <td><%= external_staff.login_id %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
