<div class="col-12">
  
  <div class="avator_container_for_sidebar">
    <%= show_avator(@external_staff) %>
    <h2><%= @external_staff.name %>詳細</h2>
  </div>
  
  <%= out_of_service(@external_staff) %>
  <%= render "/employees/external_staffs/partial/detail" %> 
</div>