// Place all the styles related to the Matter::Matters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ---------------------------------------------------
    INDEX
----------------------------------------------------- */

.matter_select {
  .active {
    background-color: #e8eae9!important;
  }
}

.matter_select_btn {
  height: 2.5em;
  width: 8.5em;
  background-color: white;
  color: #767b77!important;
  border-color: #767b77!important;
  border-radius: 5%;
  border-width: 2px!important;
  &:hover {
    background-color: #e8eae9!important;
    font-weight: bold;
  }
  &:focus {
    box-shadow :none!important;
    font-weight: bold;
  }
}


/* ---------------------------------------------------
    SHOW
----------------------------------------------------- */

.matter_index {
  ul li a {
    color: white;
  }
}

@media screen and (max-width: 480px) {
  .matter_show_container {
    h5 {
      display: none!important;
    }
  }
  
  .matter_index {
    ul li a {
      text-align: left!important;
      font-size: 20px;
    }
  }
}

/* ---------------------------------------------------
    SHOW_MENU
----------------------------------------------------- */

.matter_show_table {
  th {
    text-align: left;
    background-color: #f7f7f7;
  }
  td {
    text-align: left;
  }
}

/* person_in_charge */
.no_entry_disp {
  border: 1px solid #dfdfdf;
  padding: 1em;
  background-color: #f7f7f7;
  color: #5f5e5e;
}


/* client */
.client_form {
  border: 1px solid #dfdfdf;
  padding: 1em;
  border-radius: 5px;
}

/* ---------------------------------------------------
    matter_task                                       */

.matter_task_disp {
  overflow-x: auto;
  padding-bottom: 1em;
}

.connecting_matter_show {
  p {
    margin-bottom: 0;
  }
}

.connected_matter_task_disp {
  height: 100%;
  width: 100%;
  border: 1px solid #999;
  padding: 1em;
  margin-bottom: 1em;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.manager_task_layout {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #f7f7f7;
  border-left: solid 6px #343a40;/*左線*/
  color: #343a40;/*文字色*/
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}

.manager_task_progress_layout {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #f7f7f7;
  border-left: solid 6px #17a2b8;/*左線*/
  color: #17a2b8;/*文字色*/
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}


@media screen and (max-width: 480px) { 
  .comp_all_del_btn {
    display: none!important;
  }
}


/*  MATTERTASK:EDIT_MODAL
----------------------------------------------------- */

.matter_tasks_color {
  background-color: #dc3545!important;
  color: white;
}

.progress_tasks_color {
  background-color: #17a2b8!important;
  color: white;
}

.finished_tasks_color {
  background-color: #28a745!important;
  color: white;
}

/* ---------------------------------------------------
    GANTTCHART
----------------------------------------------------- */

.disp_scheduled {
  display: inline-block;
  border: 1px solid #17a2b8;
  width: 6em;
  background-color: #17a2b8;
  text-align: center;
}

.disp_progress {
  display: inline-block;
  border: 1px solid #dc3545;;
  width: 6em;
  background-color: #dc3545;;
  text-align: center;
}
  
.disp_complete {
  display: inline-block;
  border: 1px solid #28a745;
  width: 6em;
  background-color: #28a745;
  text-align: center;
}

.disp_span {
  font-size: 14px;
  font-weight: bold;
  color: white;
}

.ganttchart {
  table {
    background-color: #333333;
    color: white;
    font-size: 14px;
  }
  th {
    width: 2em;
    border-right: 1px dashed #5a5a5a;
    text-align: center;
    font-weight: normal;
    padding: 5px 0 5px 0;
  }
  td {
    padding: 10px 0 10px 0;
    border-right: 1px dashed #5a5a5a;
  }
  .title_area {
    padding-left: 1em!important;
    padding-right: 1em!important;
    width: 5em;
  }
  #complete {
    border: 1px solid #28a745;
    height: 1.5em;  
    width: 2em;
    background-color: #28a745;
  }
  #progress {
    border: 1px solid #dc3545;
    height: 1.5em;  
    width: 2em;
    background-color: #dc3545;
  }
  #scheduled {
    border: 1px solid #17a2b8;
    height: 1.5em;  
    width: 2em;
    background-color: #17a2b8;
  }
  a {
    color: #a2a0a0;
    text-decoration: none;
  }
  a:hover {
    color: #333;
    text-decoration: none;
  }
}