// Place all the styles related to the Matter::Matters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ---------------------------------------------------
    INDEX
----------------------------------------------------- */

.matter_index {
  ul li a {
    color: white;
  }
}

.matter_table {
  th {
    text-align: left;
  }
  td {
    text-align: left;
  }
}

.client_form {
  border: 1px solid #dfdfdf;
  padding: 1em;
  border-radius: 5px;
}

/* ---------------------------------------------------
    SHOW
----------------------------------------------------- */

.matter_show_table {
  th {
    text-align: left;
  }
  td {
    text-align: left;
  }
}
