<div>
  <table class="table table-bordered table-condensed table-hover">
    <thead>
      <tr>
        <th>出勤日</th>
        <th>案件名</th>
      </tr>
    </thead>
    <tbody>
    <% @submanagers.each do |submanager| %>
      <tr>
        <td><%= submanager.worked_on %></td>
        <td><%= submanager.matter.title %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
