<div class="container">
  <select name="submanager_staff" id="submanager_staff" class="form-control submanager_staff">
    <option value="">--- タイプを選択してください ---</option>
    <% submanager_staff_arrey.each_with_index do |submanager_staff, i| %>
      <option value=<%= submanager_staff[0] %>#<%= submanager_staff[1] %>><%= submanager_staff[2] %></option>
    <% end %>
  </select>

  <div class="attendance_area mt-1e">
    <div class="attendances"></div>
  </div>

</div>


<script>
  $('.submanager_staff').on('change', function(){
    var val = $('.submanager_staff').val();
    $.ajax({
      type: "GET",
      url: "<%= attendance_search_manager_attendances_path(current_manager) %>",
      cache: false,
      data: { employee_type: val, remote: true }
    });
  })
</script>
