<h4>画像取込設定</h4>
<button id="to_image_index" class="btn btn-dark float-r">画像一覧</button>

<div class="table-responsive">
  <table class="table table-bordered text-nowrap mt-5">
    <tr>
      <th style="width: 8em;">BAND選択</th>
      <td colspan="2" id="select_band">
        <%= render path %>
      </td>
    </tr>
  </table>
</div>