<% unless current_external_staff %>
  <div class="text-center"><h4>画像取込設定</h4></div>
  <button id="to_image_index" class="btn btn-dark float-r">画像一覧</button>
<% else %>
  <div  class="text-center"><h4>BAND</h4></div>
<% end %>

<div class="table-responsive">
  <table class="table table-bordered text-nowrap mt-5">
    <tr>
      <th style="width: 8em;">BAND選択</th>
      <td colspan="2" id="select_band">
        <%= render path %>
      </td>
    </tr>
  </table>
</div>