<div class="text-center mr-1e">
  <button class="btn btn-primary" id="pring">印刷</button>
</div>

<div>
  <%= render "shared/matters/reports", container_type: "a4-container" %>
</div>

<div id="print-area" style="display: none">
  <%= render "shared/matters/reports", container_type: "a4-print-container" %>
</div>

<%= javascript_include_tag "print.js" %>
