<div class="table-responsive">
  <table class="table table-bordered text-nowrap mt-5">
    <tr>
      <th style="width: 8em;">当社担当</th>
      <% object.staffs_in_charge.each do |staff| %>
        <td><%= staff.name %></td>
      <% end %>
    </tr>
  </table>
</div>

