<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;</button></div>
    <div class="modal-body pa-2e">
      <div class="card mb-3">
        <h5 class="card-header">営業ステータス作成</h5>
        <div class="card-body">
          <%= form_with(model: @sales_status, url: employees_estimate_matter_sales_statuses_path(@estimate_matter), method: :post, remote: true) do |f| %>
            <div class="sales-status-create-errors"></div>
            <%= render "form", f: f %>
            <div class="btn-area">
              <%= f.submit "作成", class: "btn btn-dark reset-errors" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "reset_errors.js" %>
