$(".flash-wrapper").html('<div class="flash flash-notice time-limit">営業ステータスを削除しました。</div>');
$(".sales-statuses-index").html('<%= escape_javascript(render "employees/estimate_matters/tab_pane/sales_statuses") %>');
$(function(){
  setTimeout("$('.time-limit').fadeOut('slow')", 3000) 
})