<% if @response == "success" %>
  $("#sales-status-edit").modal("hide");
  $(".flash-wrapper").html('<div class="flash flash-notice time-limit">営業ステータスを更新しました。</div>');
  $(".sales-statuses-index").html('<%= escape_javascript(render "employees/estimate_matters/tab_pane/sales_statuses") %>');
  $(function(){
    setTimeout("$('.time-limit').fadeOut('slow')", 3000) 
  })
<% else %>
  $(".sales-status-update-errors").html('<%= escape_javascript(render "shared/error_messages", resource: @sales_status) %>');
  <% @sales_status.errors.messages.keys.each do |key_attribute| %>
    var addDiv = $('<div class="field-with-errors">');
    var addLabel = $('[name="sales_status[<%= key_attribute.intern.to_s %>]"]').prev();
    $('[name="sales_status[<%= key_attribute.intern.to_s %>]"]').wrap(addDiv);
    addLabel.wrap(addDiv);
  <% end %>
<% end %>
  