<label class="form-control text-white" style="background: #787a7b;">担当業者</label>
<div class="col-12">
  <div>
    <%= f.collection_select :vendor_ids, @vendors, :id, :name, { include_hidden: false }, { class: "form-control select-members", multiple: true, id: "vendor_select" } %>
  </div>
</div>


<div id="alert_container" class="mt-1e col-sm-8 offset-sm-2"></div>

<script>
  $('#vendor_select').on('change', function(){
    var registed_vendors = <%= @estimate_matter.vendors.ids %>;
    var update_vendors = $(this).val().map(Number);
    var difference = registed_vendors.filter(i => update_vendors.indexOf(i) == -1 );
    if(difference.length > 0){
      $.ajax({
        type: 'GET',
        url: '<%= edit_employees_estimate_matter_path(@estimate_matter) %>',
        data: {difference: difference, edit_type: "alert"}
      });
    }
  });
</script>