
/* ---------------------------------------------------
    UNAPPROVAL_TOP
----------------------------------------------------- */
.manager_after_signup_backgroud {
  width: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 500;
  position: fixed;
  padding: 1em 15%;
}

.manager_after_signup_container {
  padding: 5%;
  height: 65%;
  background-color: white;
  position: relative;
  z-index: 1000;
  p {
    color: #8a8792;
  }
}


/* ---------------------------------------------------
    NEW & CREATE
----------------------------------------------------- */
.manager_create_backgroud {
  width: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 500;
  padding: 1em 15%;
}

.manager_create_container {
  padding: 5%;
  margin-bottom: 1em;
  background-color: white;
  z-index: 1000;
}

@media screen and (max-width: 480px) { 
  .manager_create_backgroud {
    padding: 1em 5%;
  }
}


/* ---------------------------------------------------
    SHOW
----------------------------------------------------- */

.manager_account_show {
  .active {
    background-color: #6c757d;
    width: 20%;
    color: white;
  }
}


/* ---------------------------------------------------
    EMPLOYEE
----------------------------------------------------- */

.employee_index {
  th {
    background-color: #ededed;
  }
}

.employee_select_btn {
  height: 2.5em;
  width: 8.5em;
  background-color: white;
  color: #0f79e2ba!important;
  border-color: #0f79e2ba!important;
  border-radius: 5%;
  border-width: 2px!important;
  &:hover {
    background-color: #c0dcf7ba!important;
  }
}

.employee_select {
  .active {
    background-color: #c0dcf7ba!important;
  }
}

/////* submanager_create_form *////////

.submanager_form_color {
  background-color: #28a745!important;
  color: white;
}

/////* user_create_form *////////

.user_form_color {
  background-color: #3f51b5!important;
  color: white;
}

/////* staff_create_form *////////
.staff_form_color{
  background-color: #288d9e!important;
  color: white;
}

/*----------------------------------------------
  SMARTPHONE
_______________________________________ */

@media screen and (max-width: 480px) { 
  .employee_new_btn {
    margin-top: 1em!important;
  }
}