// Place all the styles related to the Manager::Settings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ---------------------------------------------------
    MATTER_TASK
----------------------------------------------------- */

.default_matter_task_table {
  .active {
    background-color: #c1c0c0;
  }
}

.default_matter_task_title {
  cursor: pointer;
  &:hover {
    background-color: #f1f1f1;
  }
  &:focus {
    background-color: #e8e6e6;
  }
}


