
/* ---------------------------------------------------
    INDEX
----------------------------------------------------- */
.supplier_index_table {
  th {
    background-color: #dedede;
  }
}

/* ---------------------------------------------------
    FORM
----------------------------------------------------- */
.supplier_form {
  border: none!important;
  padding-left: 0!important;
}

/* ---------------------------------------------------
    EDIT
----------------------------------------------------- */
.edit_frame {
  border: 2px solid #343a40;
  border-radius: 5px;
  padding: 1.5em;
}