<div class="col-12">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-12">
      <h2>発行元一覧</h2>
    </div>
    <div class="col-lg-6 col-md-6 col-12">
      <%= link_to new_employees_settings_publisher_path, remote: true, class: "btn btn-dark float-r" do %>
        <i class="fas fa-plus"></i> 新規発行元
      <% end %>
    </div>
  </div>

  <div class="publishers-index">
    <%= render "employees/settings/publishers/partial/index_table" %>
  </div>
</div>
