/* ---------------------------------------------------
    NEW
----------------------------------------------------- */
.manager_forget_password_backgroud {
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  z-index: 500;
  position: fixed;
  padding: 1em 15%;
}

.manager_forget_password_container {
  padding: 5%;
  background-color: white;
  position: relative;
  z-index: 1000;
  p {
    color: #8a8792;
  }
}
