<h2 class="mt-1e">外部スタッフ一覧</h2>

<button class="btn btn-dark" data-toggle="modal" data-target="#external-staff-new">作成</button>
<table class="table table-sm" id="employees-external-staffs-table">
  <tr>
    <th>名前</th>
    <th>ログインID</th>
    <th>電話番号</th>
  </tr>
  <% @external_staffs.each do |external_staff| %>
    <tr class="tr-link" data-link="<%= employees_external_staff_path(external_staff) %>">
      <td><%= external_staff.name %></td>
      <td><%= external_staff.login_id %></td>
      <td><%= external_staff.phone %></td>
    </tr>
  <% end %>
</table>
