<h2 class="mt-1e">案件一覧</h2>

<table class="table table-sm" id="clients-matters-table">
  <tr>
    <th>タイトル</th>
    <th>現場住所</th>
    <th>着工予定日</th>
    <th>完了予定日</th>
  </tr>
  <% @matters.each do |matter| %>
    <tr>
      <td><%= matter.title %></td>
      <td><%= matter.actual_spot %></td>
      <td><%= matter.scheduled_started_on %></td>
      <td><%= matter.scheduled_finished_on %></td>
    </tr>
  <% end %>
</table>