<div class="container">
  <h2>
    外注先一覧
    <button class="btn btn-dark float-r" data-toggle="modal" data-target="#supplier-new"><i class="fas fa-plus"></i> 新規外注先</button>
  </h2>
  <div class="card text-center tab-wrapper">
    <div class="card-header bg-dark"></div>

    <div class="card-body">
      <table class="table table-sm common-table">
        <tr>
          <th>名前</th>
          <th>電話番号①</th>
          <th>住所</th>
        </tr>
        <% @suppliers.each do |supplier| %>
          <tr class="tr-link" data-link="<%= employees_supplier_path(supplier) %>" >
            <td><%= supplier.name %></td>
            <td><%= supplier.phone_1 %></td>
            <td><%= supplier.address %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
