<div class="container">
  <h2>外注先詳細</h2>
      
  <div class="card text-center tab-wrapper">
    <div class="card-header bg-dark">
      <ul class="nav nav-tabs d-flex flex-column flex-md-row card-header-tabs" id="supplier-show-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" href="#supplier-detail" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">業者情報</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#person_in_charge" data-toggle="tab" role="tab" aria-controls="home" aria-selected="false">案件一覧</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#user_information" data-toggle="tab" role="tab" aria-controls="home" aria-selected="false">外部スタッフ一覧</a>
        </li>
      </ul>
    </div>
        
    <div class="card-body">
      <div class="tab-content" id="supplier-show-tab">
            
        <div class="tab-pane fade show active bg-white" id="supplier-detail" role="tabpanel">
          <%= render "employees/suppliers/tab_pane/detail" %>
        </div>
          
        <div class="tab-pane fade bg-white" id="person_in_charge" role="tabpanel">
          <%= render "employees/suppliers/tab_pane/matters" %>
        </div>
          
        <div class="tab-pane fade bg-white" id="user_information" role="tabpanel">
          <%= render "employees/suppliers/tab_pane/external_staffs" %>
        </div>
        
      </div>
    </div>
  </div>
</div>
