<div class="col-12">
  <h2>外注先詳細</h2>
      
  <div class="select-switch mt-1e">
    <input type="radio" name="switch" id="radio1" checked>
    <label for="radio1" class="mt-0">顧客情報詳細</label>
    <input type="radio" name="switch" id="radio2">
    <label for="radio2" class="mt-0">関連案件</label>
  </div>
  
  <div id="tab1">
    <%= render "employees/suppliers/partial/detail" %>
  </div>
  
  <div id="tab2" class="mt-1e" style="display: none;">
    <%= render "employees/suppliers/partial/matters" %>
  </div>
</div>

<%= javascript_include_tag "switch_tab.js" %>
