<div class="col-12">
  <h2>外注先詳細</h2>
      
  <div class="card">
    <div class="card-header bg-dark tab-wrapper">
      <ul class="nav nav-tabs d-flex flex-column flex-md-row card-header-tabs" id="supplier-show-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" href="#supplier-detail" data-toggle="tab" role="tab" aria-controls="supplier-detail" aria-selected="true">業者情報</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#supplier-matters" data-toggle="tab" role="tab" aria-controls="supplier-matters" aria-selected="false">案件一覧</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#supplier-staffs" data-toggle="tab" role="tab" aria-controls="supplier-staffs" aria-selected="false">登録スタッフ一覧</a>
        </li>
      </ul>
    </div>
        
    <div class="card-body">
      <div class="tab-content" id="supplier-show-tab">
            
        <div class="tab-pane fade show active bg-white" id="supplier-detail" role="tabpanel">
          <%= render "employees/suppliers/tab_panes/detail" %>
        </div>
          
        <div class="tab-pane fade bg-white" id="supplier-matters" role="tabpane2">
          <%= render "employees/suppliers/tab_panes/matters" %>
        </div>
          
        <div class="tab-pane fade bg-white" id="supplier-staffs" role="tabpane3">
          <%= render "employees/suppliers/tab_panes/external_staffs" %>
        </div>
        
      </div>
    </div>
  </div>
</div>
