/* ---------------------------------------------------
    SHOW
----------------------------------------------------- */

.admin_show_table th {
  background-color: #3a6388!important;
  color: white;
  width: 20%;
}



