/* ---------------------------------------------------
    INDEX
----------------------------------------------------- */

.manager_info_table {
  margin-bottom: 1.5em!important;
  th {
    background-color: #3a8859!important;
    color: white;
    width: 20%;
  }
  td {
    width: 80%;  
  }
}

.manager_show_table {
  margin-bottom: 1.5em!important;
  th {
    background-color: #3a6388!important;
    color: white;
  }
}

.non_approval_managers_table {
  margin-bottom: 1.5em!important;
  th {
    background-color: #c76592!important;
    color: white;
  }
}

////* modal *////

.approval_modal {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
}

.approval_modal_container {
  background-color: #343a40;
  padding: 1em;
  h5 {
    color: white;    
  }
}

.approval_modal_content {
  background-color: white;
  padding: 1em;
}
