<div class="modal-dialog wide-modal non-card-modal">
  <div class="modal-content">
    <div class="modal-header">
      表紙編集
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body pa-2e">
      <%= form_with(model: @cover, url: employees_estimate_matter_cover_path(current_estimate_matter), method: :patch, remote: true) do |f| %>
        <div class="cover-edit-errors"></div>
        <%= render partial: "employees/covers/partial/form", locals:{ f: f, submit_type: "edit"} %>
        <div class="btn-area">
          <%= f.submit "更新", class: "btn btn-dark reset-errors" %>
        </div>
      <% end %>
    </div>
  </div>
</div>