<div class="table-responsive">
  <table class="table table-bordered text-nowrap matter_show_table">
    <tr>
      <th>名前</th>
      <th>TEL</th>
      <th>FAX</th>
      <th>Email</th>
    </tr>
    <% current_matter.clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.phone %></td>
        <td><%= client.fax %></td>
        <td><%= client.email %></td>
      </tr>
    <% end %>
  </table>
</div>