<div class="col-lg-12 col-md-12">
  <h2>
    見積書一覧
    <%= link_to "新規見積書", new_employees_quotation_path, remote: true, class: "btn btn-dark float-r" %>
  </h2>
  <div class="card text-center tab-wrapper">
    <div class="card-header bg-dark">
    </div>
    <div class="card-body">
    <table class="table table-sm table-bordered common-table">
      <tr>
        <th>タイトル</th>
        <th>顧客名</th>
        <th>タイプ</th>
        <th></th>
      </tr>
      <% @quotations.each do |quotation| %>
        <tr>
          <td><%= quotation.title %></td>
          <td></td>
          <td></td>
          <td>
            <%= link_to "編集", edit_employees_quotation_path(quotation), remote: true, class: "btn btn-dark btn-sm" %>
            <%= link_to "削除", employees_quotation_path(quotation), method: :delete, data: { confirm: "この見積書を削除してよろしいですか？" }, class: "btn btn-dark btn-sm" %>
          </td>
        </tr>
      <% end %>
    </table>
    </div>
  </div>
</div>
