/* ---------------------------------------------------
    FORM
----------------------------------------------------- */
#estimate_form_category {
  tr {
    height: 2em;
    td {
      line-height: 2.5em;
    }
  }
}

/* ---------------------------------------------------
    INDEX
----------------------------------------------------- */
.estimates-index {
  .estimate-table-header {
    background: #eeeeee;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    font-weight: bold;
    text-align: center;
    .estimate-name {
      border-right: 1px solid black;
      width: 20%;
    }
    .category-name {
      border-right: 1px solid black;
      width: 20%;
    }
    .construction-material {
      width: 80%;
    }
    .construction-material-detail {
      border-right: 1px solid black;
      width: calc(100% / 6);
    }
    .construction-material-detail-total {
      width: calc(100% / 6);
    }
  }
  
  .estimate-table-body {
    border: 1px solid black;
    box-sizing: border-box;
    text-align: center;
    .estimate-name {
      align-items: center;
      border-right: 1px solid black;
      justify-content: center;    
      width: 20%;
    }
    .category-item {
      border-bottom: 1px solid black;
    }
    .category-item-last {
      border-bottom: none;
    }
    .category-name {
      align-items: center;
      border-right: 1px solid black;
      display: flex;
      justify-content: center;    
      width: 20%;
    }
    .category-name-last {
      border-bottom: none;
    }
    .construction-material {
      width: 80%;
    }
    .construction-material-item {
      border-bottom: 1px solid black;
    }
    .construction-material-item-last {
      border-bottom: none;
    }
    .with-border-top {
      border-top: 1px solid black;
    }
    .construction-material-detail {
      align-items: center;
      display: flex;
      justify-content: center;    
      border-right: 1px solid black;
      width: calc(100% / 6);
    }
    .construction-material-detail-total {
      width: calc(100% / 6);
    }
  }
  
  .estimate-table-footer {
    background: #eeeeee;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    font-weight: bold;
    text-align: center;
  }  
}



.estimate_plan {
  display: flex;
}


.home_icon {
   margin-top: 0.5em;
   margin-bottom: 0.5em;
 
  .triangle {
    width: 20px;
    border-right: 20px solid transparent;
    border-bottom: 13px solid #b2ce54;
    border-left: 20px solid transparent; 
  }
  .square {
    height: 30px;
    width: 150px;
    display: flex;
    color: white;
    .window {
      line-height: 5px;
      font-size: 5px;
      color: white;
      padding-left: 10px;
      padding-top: 5px;
      p {
        margin: 0;
        color: white;
      }
    }
    .text {
      width: 150px;
      text-align: center;
      line-height: 30px;
      font-weight: bold;
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
 
}


