/* ---------------------------------------------------
    FORM
----------------------------------------------------- */
#estimate_form_category {
  tr {
    height: 2em;
    td {
      line-height: 2.5em;
    }
  }
}

/* ---------------------------------------------------
    INDEX
----------------------------------------------------- */

.object_name {
  color: #444b52;
}

.adopted-msg {
  color: red;
  font-weight: bold;
  margin: 1.5em 0 0 1em;
}
