#matter-title {
  position: relative;
}

#matter-title span {
  position: absolute;
  top: -1px;
  margin-left: 1em;
}

#matter_show table {
  border-color: #666!important;
  th { 
    background: #e4e5e6;
    border-color: #666!important;
  }
  td {
    border-color: #666!important;
  }
}


.kanban-container {
  margin: 0 auto;
}

.fixed-table-header {
  th {
    width: 130px;
  }
}
