.default_color {
  background-color: #222222 !important;
  color: white;
}

.relevant_color {
  background-color: #dc3545 !important;
  color: white;
}

.ongoing_color {
  background-color: #17a2b8 !important;
  color: white;
}

.finished_color {
  background-color: #28a745 !important;
  color: white;
}