
.talk_room_framework {
  background: #f3f3f3;
}

.talk_room_container {
  background: white;
}

.line__container {
  background: #343a40;
  text-align: center;
  padding: 0.5em 0;
  .line__title {
    color: white;
  }
}

.chat_container {
  overflow: auto;
  height: 80vh;
  padding-right: 1em;
  padding-bottom: 2em;
  background: #b6d5ec;
}

.message_container {
  padding: 0 1em 0 1em;
  span {
    font-size: 12px;
    margin: 2px 4px;
  }
}

.before_message_container {
  padding: 0 1em 0 1em;
  span {
    font-size: 12px;
    margin: 2px 4px;
  }
}

.date_container {
  margin-top: 1em;
  span {
    border: 1px solid #343a40;
    background: #797a7b;
    border-radius: 5px;
    padding: 0.3em 1em 0.3em 1em;
    color: white;
    font-size: 10px;
  }
}

.label_container {
  background: #343a40;
  padding-left: 1.5em;
}

.form_container {
  background: #797878;
  padding: 1em;
  margin: 0;
}

/* -----------------------------------------------------------------------------------
    CHAT部分
----------------------------------------------------- */

/* 自分のメッセージ */
.balloon_r{
  margin: 1em 0;
  display:flex;
  justify-content: flex-start;
  align-items: flex-start; /*縦位置を上揃え*/
/*   align-items: center; */ /*縦位置を真ん中揃え*/
  p {
    color: black;
  }
}
.balloon_r{
  justify-content:flex-end;
}

.balloon_r .faceicon{
  margin-left:25px;
}

.balloon_r .faceicon{
  order:2 !important;
}

.my_says {
  max-width:500px; /*最大幅は任意*/
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 10px 13px 10px 18px;
  border-radius: 12px;
  background: #52e251;/*色は任意*/
  box-sizing:border-box;
  margin:0 !important;
  line-height:1.5;
/*   align-items: center; */
}

.my_says p{
  margin:8px 0 0 !important; 
}

.my_says p:first-child{
  margin-top:0 !important;
}

.my_says:after {
  content: "";
  position: absolute;
  border: 10px solid transparent;
  right: -26px;
  border-left: 22px solid #52e251;
}


/* 自分以外のメッセージ */
.balloon_l{
  margin: 1em 0;
  display:flex;
  justify-content: flex-start;
  align-items: flex-start; 
}

.faceicon img{
  width: 60px; /*任意のサイズ*/
  height: auto;
}

.balloon_l .faceicon{
  margin-right:25px;
}

.name_container {
  margin-left: -20px!important;
  font-size: 14px;
  color: black;
}

.says {
  max-width:500px; /*最大幅は任意*/
  // display: flex;
  // flex-wrap: wrap;
  position: relative;
  padding: 10px 13px 10px 18px;
  border-radius: 12px;
  background: #ecedef;/*色は任意*/
  box-sizing: border-box;
  margin: 0 !important;
  line-height: 1.5;
/*   align-items: center; */
  color: black;
}
.says p{
  margin:8px 0 0 !important; 
}
.says p:first-child{
  margin-top:0 !important;
}
.says:after {
  content: "";
  position: absolute;
  border: 10px solid transparent;
  left: -26px;
  border-right: 22px solid #ecedef;
}

