// タスク編集モーダルのheader背景色
.modal-header-relevant {
  background: #dc3545!important;
  color: white;
}

.modal-header-ongoing {
  background: #17a2b8!important;
  color: white;
}

.modal-header-finished {
  background: #28a745!important;
  color: white;
}
