<% if @creation_notification_for_report.present? %>
  <p><i class="fas fa-exclamation-circle fa-purple"></i>
    <% unless current_vendor_manager %>
      <%= link_to employees_construction_reports_path(type: "uncheck") do %>
        <span>作業報告が<%= @creation_notification_for_report.count %>件あります</span>
      <% end %>
    <% end %>
    <% if current_vendor_manager %>
      <%= link_to vendor_managers_construction_reports_path(type: "uncheck") do %>
        <span>作業報告が<%= @creation_notification_for_report.count %>件あります</span>
      <% end %>
    <% end %>
  </p>
<% end %>