/* ---------------------------------------------------
    TOP
----------------------------------------------------- */

#client-top section{ margin-top: 2em; }

#client-top {
  h2 {
    font-family: cursive;
    position: relative;
    margin: 30px;
    text-align: center;
  }

  h2:before, h2:after {
    position: absolute;
    z-index: 0;
    bottom: -10px;
    display: block;
    content: '';
    border: 1em solid #dea2b2;
 }

  h2:before {
    left: -30px;
    border-left-width: 15px;
    border-left-color: transparent;
 }

  h2:after {
    right: -30px;
    border-right-width: 15px;
    border-right-color: transparent;
 }

  h2 .ribon {
    position: relative;
    z-index: 1;
    display: block;
    padding: 1rem 2rem;
    color: #fff;
    background: #dea2b2;
 }

  h2 .ribon:before, h2 .ribon:after {
    position: absolute;
    bottom: -10px;
    display: block;
    width: 10px;
    height: 10px;
    content: '';
    border-style: solid;
    border-color: #b70505 transparent transparent transparent;
 }

  h2 .ribon:before {
    left: 0;
    border-width: 10px 0 0 10px;
  }

  h2 .ribon:after {
    right: 0;
    border-width: 10px 10px 0 0;
  }

}

#client-name span {
 color: #999999;
 margin-right: 1em;
}

#client-est table{
 th {
   background: #17a2b8;
   color: white;
 }
}

#client-matter table{
 th {
   background: #237eab;
   color: white;
 }
}


.client-menu {
    display: grid;
    justify-content: center;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px;
    gap: 20px;
}

.client-menu div { padding: 10px;}
.client-menu a { text-decoration: none;}

.client-menu p {
    font-family: "M PLUS 1p";
    color: white;
    margin: 10px;
    font-size: 20px;
}

.client-menu .client-certificate {
    background: #17a2b8;
    border: 1px solid #17a2b8;
    border-radius: 20px;
}

.client-menu .client-certificate:hover {
    background: #65c7d6;
    border: 1px solid #65c7d6;
    border-radius: 20px;
  }

.client-menu .client-estimate {
    background: #237eab;
    border: 1px solid #237eab;
    border-radius: 20px;
}

.client-menu .client-estimate:hover {
    background: #77acc5;
    border: 1px solid #77acc5;
    border-radius: 20px;
}

.client-menu .client-schedule {
    background: #9eab23;
    border: 1px solid #9eab23;
    border-radius: 20px;
}

.client-menu .client-schedule:hover {
    background: #bac176;
    border: 1px solid #bac176;
    border-radius: 20px;
}

.client-menu .client-report {
    background: #a771ad;
    border: 1px solid #a771ad;
    border-radius: 20px;
}

.client-menu .client-report:hover {
    background: #a786ab;
    border: 1px solid #a786ab;
    border-radius: 20px;
}

.client-menu .client-invoice {
    background: #c3af0b;
    border: 1px solid #c3af0b;
    border-radius: 20px;
}

.client-menu .client-invoice:hover {
    background: #bfb564;
    border: 1px solid #bfb564;
    border-radius: 20px;
}

.client-menu .client-info {
    background: #7d6c70;
    border: 1px solid #7d6c70;
    border-radius: 20px;
}



/* ---------------------------------------------------
    CERTIFICATE
----------------------------------------------------- */

.certificate-content {
  padding: 2px 1em;
}

#construction_schedules, #certificate-container {
  margin-top: 1em;
  padding: 1em;
  border: 1px solid #343a40;
  border-radius: 5px;
}

#construction_schedules div {
  margin: auto 10px;
}

#construction_schedules table {
  .title-disp {
    font-size: 25px;
    color: white;
    margin: 0;
  }
  .not_started {
    background: #6c757d;
  }
  .progress {
    background: #dc3545;
    height: inherit;
    text-align: center;
    display: block;
  }
  .completed {
    background: #28a745;
  }
  
}

// #construction_schedules table {
//   margin: 0 auto;
//   td {
//     vertical-align: middle;
//     padding: 0 1em 1em 0;
//     h3 {
//     margin: 0;
//     }
//   }
//   .status {
//     text-align: center;
//     padding-top: 1em;
//     padding-bottom: 0;
//   }
// }



#client-page section {
  margin-top: 2em;
  margin-right: 2em;
  margin-left: 2em;
}

#client-page .slide-container { width: 1000px;}

#client-page .content-area {
  margin-top: 1em;
  background: #d5e9f1;
  padding: 2em;
  text-align: center;
  font-size: 18px;
  border: 2px solid #07344a;
  border-radius: 15px;
}

#client-page .certificate-content-area {
  margin-top: 1em;
  background: #f1d6d5;
  padding: 2em;
  font-size: 18px;
  border: 2px solid #ce1515;
  border-radius: 15px;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
  position: absolute;
  top: 300px;
}


/* ---------------------------------------------------
    ESTIMATE
----------------------------------------------------- */

#estimate-detail {
  margin: auto 2em;
}