#header {
  border-bottom: 2px solid black;
  margin-bottom: 2px;
  padding-bottom: 3px;
}
#header div {
  display: inline-block;
  width: 33%;
}

#estimate-title {
  font-size: 20px;
}

#title {
  font-size: 25px;
  text-align: center;
}

#client-info {
  display: inline-block;
  width: 60%;
}

#company-info {
  display: inline-block;
  width: 39%;
}

#company-logo {
  text-align: center;
}

#company-name {
  font-weight: bold;
}

#person-in-charge {
  float: right;
}

#pdf-estimate-table {
  font-size: 0.8em;
  margin-top: 0.5em;
}

#pdf-estimate-table thead td {
  border: 1px solid black;
  text-align: center;
  vertical-align: middle !important;
}

#pdf-estimate-table .square {
  margin: 0.5em;
}

#pdf-estimate-table .category-name {
  border-bottom: none;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
}

#pdf-estimate-table .detail-name {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: none;
  padding-left: 2.5em;
}

#pdf-estimate-table .detail-amount {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid lightgray;
  border-top: none;
  text-align: right;
}

#pdf-estimate-table .detail-unit {
  border-bottom: 1px solid black;
  border-left: 1px solid lightgray;
  border-right: 1px solid black;
  border-top: none;
  text-align: right;
}

#pdf-estimate-table .detail-price {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid lightgray;
  border-top: none;
  text-align: right;
}

#pdf-estimate-table .detail-total {
  border-bottom: 1px solid black;
  border-left: 1px solid lightgray;
  border-right: 1px solid black;
  border-top: none;
  text-align: right;
}

#pdf-estimate-table .detail-specification {
  border-bottom: 1px solid black;
  border-left: 1px solid lightgray;
  border-right: 1px solid black;
  border-top: none;
}

#pdf-estimate-table .category-footer {
  border-bottom: 2px solid black;
}

#pdf-estimate-table .category-footer-1 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  text-align: center;
}

#pdf-estimate-table .category-footer-2, .category-footer-4 {
  border-left: 1px solid black;
  border-right: 1px solid lightgray;
}

#pdf-estimate-table .category-footer-3, .category-footer-5 {
  border-left: 1px solid lightgray;;
  border-right: 1px solid black;
  text-align: right;
}

#pdf-estimate-table .category-footer-6 {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

#pdf-estimate-table .footer-item-1 {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  text-align: center;
}

#pdf-estimate-table .footer-item-2 {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  text-align: right;
}

#pdf-estimate-table .footer-item-3 {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

#pdf-estimate-table .estimate-total {
  font-weight: bold;
}

#pdf-estimate-table .pure-total {
  font-size: 1.1em;
}
