<div class="pc_type">
  <table class="sub-title-table">
    <tr>
      <td><h5><i class="fas fa-paint-roller"></i> <%= object.content %></h5></td>
      <td><h5 class="ml-1e"><%= status %></h5></td>
    </tr>
  </table>
</div>

<div class="mobile_type">
  <div><h5><i class="fas fa-paint-roller"></i> <%= object.content %></h5></div>
  <div><h5><%= status %></h5></div>
</div>