<!--<div class="table-responsive">-->
<!--  <table class="text-nowrap" id="construction_schedule_table">-->
<!--    <!% @construction_schedules.each_slice(6) do |construction_schedules| %>-->
<!--    <tr>-->
<!--      <!% construction_schedules.each do |construction_schedule| %>-->
<!--        <td class="status"><!%= construction_schedule.status_disp %></td>-->
<!--        <td></td>-->
<!--      <!% end %>-->
<!--    </tr>-->
<!--    <tr class="construction_schedule_date">-->
<!--      <!% construction_schedules.each do |construction_schedule| %>-->
<!--        <td class="text-center"><h3><!%= construction_schedule.budge %></h3></td>-->
<!--        <td><h3><i class="fas fa-arrow-circle-right"></i></h3></td>-->
<!--      <!% end %>-->
<!--    </tr>-->
<!--    <!% end %>-->
<!--  </table>-->
  
<!--</div>-->
<div class="col-12 pc_type">
  <% @construction_schedules.each do |construction_schedule| %>
    <div style="display: inline-block">
      <span><%= construction_schedule.status_disp %></span>
      <h3>
        <span class="text-center"><%= construction_schedule.budge %></span>
        <span class="ml-10"><i class="fas fa-arrow-circle-right"></i></span>
      </h3>
    </div>
  <% end %>
</div>

<div class="col-12 mobile_type table-responsive">
  <table class="nowrap col-12">
  <% @construction_schedules.each do |construction_schedule| %>
    <tr>
      <td class="text-center">
        <div class="col-12 title-disp <%= construction_schedule.status %>">
          <%= construction_schedule.title %>
        </div>
      </td>
    </tr>
    <tr>
      <td class="text-center"><h3><i class="fas fa-arrow-down"></i></i></h3></td>
    </tr>
  <% end %>
  </table>
</div>


<script>
  $(function(){
    var html = $('<span />', {class: "badge badge-dark"}).append('完了');
    $('.construction_schedule_date:last').append('<h3 class="insert_h3">');
    $('.insert_h3').append(html);
  });
</script>