<% if @suppliers.present? %>
  <div class="table-responsive">
    <table class="table table-bordered text-nowrap mt-5">
      <tr>
        <th style="width: 18em;">外注先会社</th>
        <th>担当者</th>
        <th>編集</th>
      </tr>
      <% @suppliers.each do |supplier| %>
        <tr>
          <td><%= supplier.name %></td>
          <td><%= supplier.person_in_charge_for_matter(object) %></td>
          <td class="text-center">
            <% if own_staff? && supplier.external_staffs.present? %>
              <%= link_to "担当者編集", send(path, id: object.id, supplier_id: supplier.id, edit_type: "supplier_staff"), remote: true, class: "btn btn-dark" %>
            <% elsif current_supplier_manager.supplier == supplier %>
              <%= link_to "担当者編集", send(path, id: object.id, supplier_id: supplier.id, edit_type: "supplier_staff"), remote: true, class: "btn btn-dark" %>
            <% else %>
              <span>不可</span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
<% else %>
  <p>登録がありません</p>
<% end %>

<!--<!% object.external_staffs_in_charge_for_group_by_supplier.each do |supplier_id, external_staffs| %>-->
<!--  <tr>-->
<!--    <td><!%= Supplier.find(supplier_id).name %></td>-->
<!--    <!% external_staffs.each do |external_staff| %>-->
<!--      <td><!%= external_staff.name %></td>-->
<!--    <!% end %>-->
<!--  </tr>-->
<!--<!% end %>-->