<div class="col-12">
  <div class="row">
    <div class="col-lg-3 col-md-6 col-12">
      <h4 class="title_layout">工事一覧</h4>
    </div>
    <div class="col-lg-3 col-md-6 col-12">
      <%= form_with(url: search_construction_employees_settings_estimates_path, method: :get, remote: true) do |f| %>
        <div class="input-group">
          <%= f.collection_select :category_id, @categories_for_construction, :id, :name, { prompt: "カテゴリを選択", selected: @category_id }, class: "form-control" %>
          <div class="input-group-append">        
            <input type="submit" value="&#xf002;" class="fas btn btn-primary">
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-lg-6 col-md-6 col-12">
      <%= link_to new_employees_settings_estimates_construction_path, remote: true, class: "btn btn-dark float-r" do %>
        <i class="fas fa-plus"></i> 新規工事
      <% end %>
    </div>
  </div>
  
  <div id="construction_table">
    <%= render 'employees/settings/estimates/constructions/partial/index_table' %>
  </div>

</div>
  