$('#prefecture_index').hide();
$('#city_area').hide();
$('#town_area').hide();
$('#selected_address').html('<p><%= @select_prefecture_name + @select_city_name + @select_town_name %></p>');
$('#block_area').html('<%= escape_javascript(render partial: './addresses/modal/block_index', locals: { blocks: @blocks, select_prefecture: @select_prefecture_name, select_city: @select_city_name, select_town: @select_town_name } ) %>');