$('#prefecture_index').hide();
$('#selected_address').html('<p><%= @select_prefecture_name %></p>');
$('#city_area').html('<%= escape_javascript(render "./addresses/modal/city_index", cities: @cities, select_prefecture: @select_prefecture_name) %>');
