/* -----------------------------------------------------------------------------------
    SUBMANAGER///LOGIN-FLAMEWORK
----------------------------------------------------- */

/* ---------- GRID ---------- */

.grid_submanager {
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  width: 400px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
}

/* ---------- submanager_login ---------- */

#submanager_login h2 {
    background: #28a745;
    border-radius: 20px 20px 0 0;
    color: #fff;
    font-size: 28px;
    padding: 20px 26px;
    margin-bottom: 0;
}

#submanager_login h2 span[class*="fontawesome-"] {
    margin-right: 14px;
}

#submanager_login fieldset {
    background: #fff;
    border-radius: 0 0 20px 20px;
    padding: 20px 26px;
}

#submanager_login fieldset p {
    color: #777;
    margin-bottom: 14px;
}

#submanager_login fieldset p:last-child {
    margin-bottom: 0;
}

#submanager_login fieldset input {
    border-radius: 3px;
}

#submanager_login fieldset input[type="email"], #submanager_login fieldset input[type="password"] {
    background: #d8d6d6;
    color: black;
    padding: 4px 10px;
    width: 100%;
}

#submanager_login fieldset input[type="submit"] {
    background: #6c757d;
    color: #fff;
    display: block;
    margin: 0 auto;
    padding: 4px 0;
    width: 100px;
}

#login fieldset input[type="submit"]:hover {
    background: #343a40;
}

.sign_in_link {
  margin-top: 1em;
  text-align: center;
  a {
    color: #007bff;
  }
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media screen and (max-width: 480px) { 
  
  /* ログインボタンの位置変更 */
  .smp_size {
    font-size: 24px!important;
  }
}