<div class="col-12">
  <h2>お問合せ一覧</h2>
  <div class="select-switch">
    <input type="radio" name="switch" id="radio1" checked>
    <label for="radio1" class="mt-0">未解決</label>
    <input type="radio" name="switch" id="radio2">
    <label for="radio2" class="mt-0">解決済</label>
  </div>
  <div id="tab1">
    <%= render "employees/inquiries/partial/index_table", inquiries: @unsolved_inquiries, type: "unsolved" %>
  </div>
  <div id="tab2" style="display: none;">
    <%= render "employees/inquiries/partial/index_table", inquiries: @solved_inquiries, type: "solved" %>
  </div>
</div>

<%= javascript_include_tag "switch_tab.js" %>
