<div class="col-12">
  <h2>お問合せ一覧</h2>
  <div class="select-switch">
    <input type="radio" name="switch" id="radio1" checked>
    <label for="radio1" class="mt-0">未解決</label>
    <input type="radio" name="switch" id="radio2">
    <label for="radio2" class="mt-0">解決済</label>
  </div>
  <div id="unsolved">
    <%= render "employees/inquiries/partial/index_table", inquiries: @unsolved_inquiries %>
  </div>
  <div id="solved" style="display: none;">
    <%= render "employees/inquiries/partial/index_table", inquiries: @solved_inquiries %>
  </div>
</div>

<script>
  $("#radio1").click(function(){
    $("#unsolved").show();
    $("#solved").hide();
  });
  $("#radio2").click(function(){
    $("#solved").show();
    $("#unsolved").hide();
  });
</script>

