<div id="client-page">
  
  <section>
    <%= render partial: "layouts/page_title", locals: { title_1: "スケジュール", title_2: "#{ @estimate_matter.title }", icon: "fa-calendar-alt"} %>
  </section>
  
  <section>
    <div class="calendar_container mt-05e">
      <%= render 'clients/clients/partial/calendar' %>
    </div>
  </section>

</div>
