<div class="col-lg-12 col-md-12">
  <h1 id="client-name"><span>WELCOME</span><%= current_client.name %> 様</h1>
  
  <div id="index-container">
    <ul class="nav nav-tabs title_tab_bar mt-2e">
      <li class="nav-item">
        <a class="nav-link title_tab_grey">ご依頼一覧</a>
      </li>
    </ul>
    <div class="table-responsive mt-1e">
      <%= render 'clients/clients/partial/index_table' %>
    </div>
  </div>
  
  <div id="detail-container"></div>
  
</div>

<script>
  $(".checkbox").on("click", function(){
    $('.checkbox').prop('checked', false);
    $(this).prop('checked', true);
    var val = $(this).val();
    $.ajax({
      type: "GET",
      url: "<%= clients_detail_path %>",
      data: {target: val}
    });
  });
</script>


