<div class="col-12">
  
  <div class="avator_container_for_sidebar">
    <%= show_avator(@manager) %>
    <h2><%= @manager.name %>詳細</h2>
  </div>
  
  <%= out_of_service(@manager) %>
  <%= render "/employees/managers/partial/detail" %>  
</div>