<div class="table-responsible">
  <table class="table table-bordered">
    <tr>
      <th>タイトル</th>
      <td><%= task.title %></td>
    </tr>
    <tr>
      <th>備考</th>
      <td><%= task.memo %></td>
    </tr>
  </table>
</div>