.estimate-table-header {
  background: #eeeeee;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  font-weight: bold;
  text-align: center;
  .estimate-name {
    border-right: 1px solid black;
    width: 20%;
  }
  .category-name {
    border-right: 1px solid black;
    width: 20%;
  }
  .construction-material {
    width: 80%;
  }
  .construction-material-item {
    border-right: 1px solid black;
    width: calc(100% / 6);
  }
  .construction-material-item-total {
    width: calc(100% / 6);
  }
}

.estimate-table-body {
  border: 1px solid black;
  box-sizing: border-box;
  text-align: center;
  .estimate-name {
    border-right: 1px solid black;
    width: 20%;
  }
  .category-name {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    width: 20%;
  }
  .category-name-last {
    border-bottom: none;
  }
  .construction-material {
    border-bottom: 1px solid black;
    width: 80%;
  }
  .construction-material-last {
    border-bottom: none;
  }
  .construction-material-item {
    border-right: 1px solid black;
    width: calc(100% / 6);
  }
  .construction-material-item-total {
    width: calc(100% / 6);
  }
}

.estimate-table-footer {
  background: #eeeeee;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  font-weight: bold;
  text-align: center;
}