/* -----------------------------------------------------------------------------------
    SALES_STATUS_INDEX    
----------------------------------------------------- */
.now_status {
  background: #c2c1f9;
}


/* -----------------------------------------------------------------------------------
    PROGRESS_TABLE    
----------------------------------------------------- */

.husen {
  padding: 0.5em 0.5em;
  color: #232323;
  background: #fff8e8;
  border-left: solid 10px #ffeb3b;
}

.husen_sample {
  padding: 0.5em 0.5em;
  color: #232323;
  background: #e5d4ef;
  border-left: solid 10px #c920e6;
}