.default_avator_admin {
  border: 1px solid #dc3545;
  border-radius: 50%;
  background-color: #dc3545;
  color: white;
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 40px;
}

.default_avator_manager {
  border: 1px solid #fd7e14;
  border-radius: 50%;
  background-color: #fd7e14;
  color: white;
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 40px;
}

.default_avator_staff {
  border: 1px solid #28a745;
  border-radius: 50%;
  background-color: #28a745;
  color: white;
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 40px;
}

.default_avator_external_staff {
  border: 1px solid #17a2b8;
  border-radius: 50%;
  background-color: #17a2b8;
  color: white;
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 40px;
}

