.img-display-area {
  align-items: left;
  border: 2px solid;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.margin-top-posision {
  margin-top: 10px;
}

.margin-bottom-posision {
  margin-bottom: 17px;
}

.margin-left-posision {
  margin-left: 10px;
}

.images_partial {
  float: left
}
