.img-display-area {
  align-items: left;
  border: 2px solid;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.image-error-color {
  color: red;
}

.top-new-image {
  margin-left: 580px;
}

.margin-top-posision {
  margin-top: 10px;
}

.margin-bottom-posision {
  margin-bottom: 17px;
  margin-left: 100px;
}

.margin-bottom-index-posision {
  margin-bottom: 17px;
  margin-left: 500px;
}

.margin-left-posision {
  margin-left: 10px;
}

.images-partial {
  float: left;
  margin-left: 40px;
}

.edit-image-content-position{
  margin-top: -15px; margin-bottom: 10px;
}  

.link-to-image-edit-buttom-position {
  margin-bottom: 10px;
}

.edit-button-position {
  position: relative;
}

/* -----------------------------------------------------------------------------------
    ESYIMATE_MATTER SHOW / CERTIFICATE  
----------------------------------------------------- */

.image_flex {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.image-item {
  width: 146px;
  margin-top: 1em;
  margin-right: 0.5em;
}

@media (max-width: 768px) {
  .image-item {
    width: 121px;
  }
}

.employees-image-item:hover {
  opacity: 0.8;
}

.employees-image-item:active {
  opacity: 0.6;
}

/* -----------------------------------------------------------------------------------
    INDEX  
----------------------------------------------------- */
.estimate_matter_images_page {
  margin: 1em 2em;  
}

#image_container h5 {
  position: relative;
  padding: 5px 5px 5px 42px;
  background: #77c3df;
  font-size: 20px;
  color: white;
  margin-left: -33px;
  line-height: 1.3;
  z-index:-1;
}

#image_container h5:before {
  position: absolute;
  content: '';
  left: -2px;
  top: -2px;
  border: none;
  border-left: solid 40px white;
  border-bottom: solid 79px transparent;
  z-index:-2
}

/* -----------------------------------------------------------------------------------
    BAND_ALBUM  
----------------------------------------------------- */

#band_album h5 {
  position: relative;
  padding: 5px 5px 5px 42px;
  background: #df77b5;
  font-size: 20px;
  color: white;
  margin-left: -33px;
  line-height: 1.3;
  z-index:-1;
}

#band_album h5:before {
  position: absolute;
  content: '';
  left: -2px;
  top: -2px;
  border: none;
  border-left: solid 40px white;
  border-bottom: solid 79px transparent;
  z-index:-2
}

.band_image_container {
  position: relative;
  padding: 1em 1.5em;
  margin: 2em 1em;
  border: solid 3px #c71585;
  border-radius: 8px;
}

.band_image_container .box_title{
  position: absolute;
  display: inline-block;
  top: -20px;
  left: 10px;
  padding: 0 10px;
  line-height: 1;
  background: #ffffff;/*タイトル文字背景色*/
  font-weight: bold;
}

.band_image_container .title_table {
  th {
    background-color: #c71585;
    color: white;
  }
  td {
    background-color: #f1e4ec;
  }
}