.print-layout {
  background: #343a40;
}

.a4-container {
  padding: 4em 2em 2em 3em;
  background: white;
  width: 172mm;
  height: 251mm;
  margin: 1em auto;
}

/*------------------------------診断書------------------------------*/
.cover_image_wrapper {
  text-align: center;
}

.cover_title_wrapper {
  text-align: center;
  margin-top: 1em;
  font-size: 2em;
}
.cover_content_wrapper {
  line-height: 1.5em;
  text-align: center;
  padding: 4em 2em;
  background-image: image-url('cover_content_back.jpg');
  background-repeat: repeat;
  border: 3px solid #6f381e;
  border-radius: 10px;
  font-size: 14px;
  margin-top: 2.5em;
  margin-left: 7%;
  margin-right: 7%;
}

.cover_logo_wrapper {
  margin-top: 2em;
  text-align: center;
}

// table
.certificate_preview {
  td {
    vertical-align: top;
  }
  .h6_td {
    height: 60px;
    color: #28a745;
    font-weight: bold;
  }
  .span {
    width: 2em;
  }
  .certificate_content {
    padding-left: 1em;
  }
  .bottom {
    height: 3em;
  }
}

// 見出し
.certificate_preview {
  h6 {
    position: relative;
    overflow: hidden;
    padding: 0.5rem 1rem 0.5rem 100px;
    border: 2px solid #28a745;
    width: 10em;
    font-weight: 700;
    font-size: 1.5rem;
  }

  h6:before {
    position: absolute;
    top: -150%;
    left: -130px;
    width: 200px;
    height: 300%;
    content: '';
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
    background: #28a745;
  }

  h6 span {
    font-size: 1.5rem;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: block;
    padding-top: 5px;
    padding-left: 16px;
    color: #fff;
  }
}

// 見積書プレビュー
.estimates-invoice-preview {
  .header {
    border-bottom: 2px solid black;
    margin-bottom: 2px;
    padding-bottom: 2px;
  }
  .num {
    font-size: 0.7em;
  }
  .title {
    font-size: 1em;
    letter-spacing: 1em;
  }
  .sub-header {
    font-size: 0.6em;
  }
  .triangle {
    width: 20px;
    border-right: 20px solid transparent;
    border-bottom: 13px solid #b2ce54;
    border-left: 20px solid transparent;
  }
  .square {
    border-bottom: 25px solid white;
    height: 25px;
    width: 200px;
  }
  .window {
    color: white;
    display: inline-block;
    height: 25px;
    position: relative;
    width: 40px;
  }
  .window-above {
    left: 1px;
    height: 10px;
    top: 0px;
    width: 40px;
    position: absolute;
  }
  .window-lower {
    left: 1px;
    height: 10px;
    top: 10px;
    width: 40px;
    position: absolute;
  }
  .window div {
    height: 15px;
    padding: 0 0 5px 10px;
  }
  .text {
    display: inline-block;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    padding-top: 5px;
    text-align: center;
    vertical-align: top;
    width: 155px;
  }
  .company-name {
    font-weight: bold;
  }
  td {
    font-size: 0.4em;
    padding-top: 0;
    padding-bottom: 0;
  }
   thead td {
    border: 1px solid black;
    text-align: center;
    vertical-align: middle !important;
  }
  .fa-square {
    margin: 0 0.5em;
  }
  .category-name {
    background: gainsboro;
    border-bottom: none;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
  }
  .detail-name {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: none;
    padding-left: 2.5em;
  }
  .detail-amount {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid lightgray;
    border-top: none;
    text-align: right;
  }
  .detail-unit {
    border-bottom: 1px solid black;
    border-left: 1px solid lightgray;
    border-right: 1px solid black;
    border-top: none;
    text-align: right;
  }
  .detail-price {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid lightgray;
    border-top: none;
    text-align: right;
  }
  .detail-total {
    border-bottom: 1px solid black;
    border-left: 1px solid lightgray;
    border-right: 1px solid black;
    border-top: none;
    text-align: right;
  }
  .detail-specification {
    border-bottom: 1px solid black;
    border-left: 1px solid lightgray;
    border-right: 1px solid black;
    border-top: none;
  }
  .category-footer {
    border-bottom: 2px solid black;
  }
  .category-footer-1 {
    border-left: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
  }
  .category-footer-2, .category-footer-4 {
    border-left: 1px solid black;
    border-right: 1px solid lightgray;
  }
  .category-footer-3, .category-footer-5 {
    border-left: 1px solid lightgray;;
    border-right: 1px solid black;
    text-align: right;
  }
  .category-footer-6 {
    border-left: 1px solid black;
    border-right: 1px solid black;
  }
  .margin-1 {
    border-bottom: none;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: none;
  }
  .margin-2 {
    border-bottom: none;
    border-left: 1px solid black;
    border-right: 1px solid lightgray;
    border-top: none;
  }
  .margin-3, .margin-5 {
    border-bottom: none;
    border-left: 1px solid lightgray;;
    border-right: 1px solid black;
    border-top: none;
  }
  .margin-4 {
    border-bottom: none;
    border-left: 1px solid black;
    border-right: 1px solid lightgray;
    border-top: none;
  }
  .margin-5 {
    border-bottom: none;
    border-left: 1px solid lightgray;;
    border-right: 1px solid black;
    border-top: none;
  }
  .margin-6 {
    border-bottom: none;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: none;
  }
  .footer-item-1 {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    text-align: center;
  }
  .footer-item-2 {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    text-align: right;
  }
  .footer-item-3 {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
  }
  .estimate-total {
    font-weight: bold;
  }
  .pure-total {
    font-size: 0.5em;
  }
}

/*------------------------------報告書------------------------------*/
.report-cover-main {
  background: #002b80;
  height: 560px;
  .title {
    color: white;
    font-size: 1.8em;
    padding: 1em 0;
    text-align: center;
  }
  .img-wrapper {
    background: white;
    margin: 0 auto;
    padding: 5px;
    width: 440px;
    .sm-img-wrapper {
      display: flex;
      margin-top: 5px;
    }
    .sm-img {
      width: 140px;
    }
  }
}

.report-cover-sub {
  font-size: 0.9em;
  text-align: center;
}

.report-page {
  position: relative;
  .page-logo {
    padding-right: 2em;
    text-align: right;
  }
  .report-item {
    margin: 0 auto 2em auto;
    width: 250px;
    .report-title {
      background: #002b80;
      color: white;
      font-size: 0.8em;
      padding: 0.5em 0;
      text-align: center;
    }
  }
  .page-footer {
    background: #002b80;
    color: white;
    font-size: 0.8em;
    padding: 0.5em 0;
    position: absolute;
    bottom: 15px;
    text-align: center;
    width: 90%;
  }
}

/* -----------------------------------------------------------------------------------
    PRINT 
----------------------------------------------------- */

@media print {
  @page {
    margin-top: 20mm;
    margin-left: 15mm;
    margin-right: 10mm;
  }
  
  body {
    background: white;
    width: 172mm;
    height: 251mm;
    margin-left: 50px;
    margin-top: 50px;
  }
  .a4-print-container {
    page-break-before: always;
  }
  .cover_image_wrapper {
    text-align: center;
    margin-top: 2em;
  }
  .cover_title_wrapper {
    letter-spacing: 0.5em;
    text-align: center;
    margin-top: 1em;
    font-size: 2.5em;
  }
  .cover_content_wrapper {
    line-height: 1.5em;
    text-align: center;
    padding: 4em 2em;
    background-image: image-url('cover_content_back.jpg');
    background-repeat: repeat;
    border: 3px solid #6f381e;
    border-radius: 10px;
    font-size: 23px;
    margin-top: 3em;
    margin-left: 7%;
    margin-right: 7%;
  }
  
  .cover_logo_wrapper {
    margin-top: 4em;
    text-align: center;
  }
  .certificate_preview {
    margin-bottom: 70px;
    td {
      width: 100mm;
      vertical-align: top;
      padding: 20px 10px;
    }
    .h6_td {
      width: 75mm;
      font-size: 20px;
      height: 60px;
      color: #28a745;
    }
    .certificate_content {
      padding-left: 50px;
    }
    h6 {
      width: 16em;
    }
  }
  
  // 見積書
  .estimates-invoice-preview {
    .num {
      font-size: 1.2em;
    }
    .title {
      font-size: 1.5em;
      letter-spacing: 1.5em;
    }
    .sub-header {
      margin-top: 5px;
      font-size: 1.2em;
    }
    .square {
      height: 25px;
      width: 250px;
    }
    .window {
      font-size: 0.6em;
      height: 25px;
    }
    .window-above {
      left: 1px;
      height: 10px;
      top: 0px;
    }
    .window-lower {
      left: 1px;
      height: 10px;
      top: 10px;
    }
    .text {
      display: inline-block;
      color: white;
      font-size: 0.8em;
      font-weight: bold;
      padding-top: 2px;
      width: 155px;
    }
    td {
      font-size: 1em;
    }
    .pure-total {
      font-size: 1.1em;
    }
  }

  // 報告書
  .report-cover-main {
    background: #002b80;
    height: 900px;
    .title {
      color: white;
      font-size: 3em;
      padding: 1em 0;
    }
    .img-wrapper {
      background: white;
      margin: 0 auto;
      padding: 5px;
      width: 610px;
      .sm-img-wrapper {
        display: flex;
        margin-top: 5px;
      }
      .sm-img {
        width: 200px;
      }
    }
  }
  
  .report-cover-sub {
    font-size: 1.5em;
    text-align: center;
  }
  
  .report-page {
    position: relative;
    .page-logo {
      padding-right: 2em;
      text-align: right;
    }
    .report-item {
      margin: 0 auto 2em auto;
      width: 300px;
      .report-title {
        background: #002b80;
        color: white;
        font-size: 0.8em;
        padding: 0.5em 0;
        text-align: center;
      }
    }
    .page-footer {
      background: #002b80;
      color: white;
      font-size: 0.8em;
      padding: 0.5em 0;
      position: absolute;
      bottom: 15px;
      text-align: center;
      width: 90%;
    }
  }
}
