.print_layout {
  background: #343a40;
}

.a4_container {
  padding: 4em 2em 2em 3em;
  background: white;
  width: 172mm;
  height: 251mm;
  margin: 1em auto;
}

.cover_image_wrapper {
  text-align: center;
}

.cover_title_wrapper {
  text-align: center;
  margin-top: 1em;
  font-size: 2em;
}
.cover_content_wrapper {
  line-height: 1.5em;
  text-align: center;
  padding: 4em 2em;
  background-image: image-url('cover_content_back.jpg');
  background-repeat: repeat;
  border: 3px solid #6f381e;
  border-radius: 10px;
  font-size: 14px;
  margin-top: 2.5em;
  margin-left: 7%;
  margin-right: 7%;
}

.cover_logo_wrapper {
  margin-top: 2em;
  text-align: center;
}

// table
.certificate_preview {
  td {
    vertical-align: top;
  }
  .h6_td {
    height: 60px;
    color: #28a745;
    font-weight: bold;
  }
  .span {
    width: 2em;
  }
  .certificate_content {
    padding-left: 1em;
  }
  .bottom {
    height: 3em;
  }
}

// 見出し
.certificate_preview {
  h6 {
    position: relative;
    overflow: hidden;
    padding: 0.5rem 1rem 0.5rem 100px;
    border: 2px solid #28a745;
    width: 10em;
    font-weight: 700;
    font-size: 1.5rem;
  }

  h6:before {
    position: absolute;
    top: -150%;
    left: -130px;
    width: 200px;
    height: 300%;
    content: '';
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
    background: #28a745;
  }

  h6 span {
    font-size: 1.5rem;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: block;
    padding-top: 5px;
    padding-left: 16px;
    color: #fff;
  }
}

.print_body {
  width: 172mm;
  height: 251mm;
}

/* -----------------------------------------------------------------------------------
    PRINT 
----------------------------------------------------- */

@media print {
  
  @page {
    margin-top: 20mm;
    margin-left: 15mm;
    margin-right: 10mm;
  }
  
  body {
    background: white;
    width: 172mm;
    height: 251mm;
    margin-left: 50px;
    margin-top: 50px;
  }
  
  .certificate_print {
    display: none;
  }
  
  .a4_print_container {
    page-break-before: always;
  }
  
  .cover_image_wrapper {
  text-align: center;
  margin-top: 2em;
  }

  .cover_title_wrapper {
    letter-spacing: 0.5em;
    text-align: center;
    margin-top: 1em;
    font-size: 2.5em;
  }
  .cover_content_wrapper {
    line-height: 1.5em;
    text-align: center;
    padding: 4em 2em;
    background-image: image-url('cover_content_back.jpg');
    background-repeat: repeat;
    border: 3px solid #6f381e;
    border-radius: 10px;
    font-size: 23px;
    margin-top: 3em;
    margin-left: 7%;
    margin-right: 7%;
  }
  
  .cover_logo_wrapper {
    margin-top: 4em;
    text-align: center;
  }
  
  .certificate_preview {
    margin-bottom: 70px;
    td {
      width: 100mm;
      vertical-align: top;
      padding: 20px 10px;
    }
    .h6_td {
      width: 75mm;
      font-size: 20px;
      height: 60px;
      color: #28a745;
    }
    .certificate_content {
      padding-left: 50px;
    }
    h6 {
      width: 16em;
    }
  }
}