.table-column-type {
  th {
    background-color: #f6f6f6;
  }
  .alert{
    color: #dc3545;
    font-weight: bold;
  }
  .total td {
    background: #f6f6f6;
  }
}

.table_line_type {
  th {
   background-color: #eeeeee; 
  }
}

td {
  .color-sample {
    height: 2em;
    width: 5em;
  }
}
