/* -----------------------------------------------------------------------------------
    TOPPAGE
----------------------------------------------------- */
.attendance_container {
  float: right;
  margin-bottom: 2em;
  margin-right: 2em;
  padding: 1em;
}


.title_tab_bar {
 border-bottom: 3px solid #343a40!important;
}

.info_tab {
  background-color: #259a5f!important;
  color: white!important;
  font-size: 1.3em; 
}

.title_tab {
  background-color: #343a40!important;
  color: white!important;
  font-size: 1.3em;
}

.title_tab_grey {
  background-color: #5e6063!important;
  color: white!important;
  font-size: 1.3em;
}

.title_tab_danger {
  background-color: #dc3545!important;
  color: white!important;
  font-size: 1.3em;
}

.warning_tab {
  background-color: #e63989;
  color: white!important;
  font-size: 1.3em;
  margin-top: 1em;
  background-image: url(/assets/images/f1408_0.png);
  background-repeat: no-repeat;
}

.attendance_tab {
  background-color: #e3e6e6!important;
  font-size: 1.3em;
}

.news_container {
  border: 1px solid #343a40;
  padding: 15px;
  margin-bottom: 2em;
}

.top_page_contents {
  p {
    margin: 3px;
  }
  span{
    color: #343a40;
  }
}

.fa-blue {
  color: #17a2b8;
}

.fa-orange {
  color: #fd7e14;
}

.fa-red {
  color: #dc3545;
}

.fa-green {
  color: #28a745;
}

.fa-yellow {
  color: #ffc107;
}

.fa-purple {
  color: #6f42c1;
}

.btn-attendance {
  width: 10em;
  margin-top: 0.5em;
}


.top-header h4 {
  font-family: cursive;
  color: white;
  padding: 0.3em 2em;
}

.top-header .alert-title {
  background-image: url(/assets/images/alert_header.png);
  background-repeat: no-repeat;
}

.top-header .info-title {
  background-image: url(/assets/images/info_header.png);
  background-repeat: no-repeat;
}

.top-header a { color: #343a40;}
.top-header p { margin-bottom: 0!important;}

.info-container {
  margin: auto 2em;
  padding: 1em;
  border: 2px solid black;
}

#top-page .nav-link { display: inline; }
#top-page section { margin-top: 2em; }