/* -----------------------------------------------------------------------------------
    TOPPAGE
----------------------------------------------------- */
.attendance_container {
  float: right;
  margin-bottom: 2em;
  margin-right: 2em;
  padding: 1em;
}


.title_tab_bar {
 border-bottom: 3px solid #343a40!important;
}

.title_tab {
  background-color: #343a40!important;
  color: white!important;
  font-size: 1.3em;
}

.title_tab_danger {
  background-color: #dc3545!important;
  color: white!important;
  font-size: 1.3em;
}

.warning_tab {
  background-color: #e63989;
  color: white!important;
  font-size: 1.3em;
  margin-top: 1em;
}

.attendance_tab {
  background-color: #e3e6e6!important;
  font-size: 1.3em;
}

.news_container {
  border: 1px solid #343a40;
  padding: 15px;
  margin-bottom: 2em;
}

.top_page_contents {
  p {
    margin: 3px;
  }
  span{
    color: #343a40;
  }
}

.fa-blue {
  color: #17a2b8;
}

.fa-orange {
  color: #fd7e14;
}

.fa-red {
  color: #dc3545;
}

.btn-attendance {
  width: 10em;
  margin-top: 0.5em;
}
