<div class="modal-dialog">
  <div class="modal-content modal-bg-color">
    <div class="modal-body pa-2e">
      <div class="card mb-3">
        <h5 class="card-header bg-dark text-white">
          Supplier/新規作成
        </h5>
        <div class="card-body">
          <%= render partial: 'manager/suppliers/form', locals: { supplier: @supplier} %>
        </div>
      </div>
    </div>
  </div>
</div>
