<div class="modal-dialog">
  <div class="modal-content modal-bg-color">
    <div class="modal-body pa-2e">
      <div class="card mb-3">
        <h5 class="card-header bg-dark text-white">
          Supplier/新規作成
        </h5>
        <div class="card-body">
          <%= form_with(model: [:manager, @supplier], remote: true) do |f| %>
            <%= render partial: 'manager/suppliers/form', locals: { f: f } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal address_modal">
  <div class="modal__bg js-modal-close"></div>
  <div class="address_select">
  </div>
</div>

<script>
$('.prefectures_all').on('click', function(){
  $.ajax({
    type: "GET",
    url: "<%= prefecture_index_path(dependent_manager) %>",
    cache: false,
    data: {remote: true}
  });
})
</script>
