<div class="col-12">
  <h2><i class="fas fa-paste"></i> 見積案件作成</h2>
  <%= form_with(model: @estimate_matter, url: employees_estimate_matters_path, method: :post) do |f| %>
    <div class="estimate-matter-create-errors"></div>
    <%= render "form", f: f, clients: @clients, staffs: @staffs, external_staffs: @external_staffs %>
    <div class="btn-area">
      <%= f.submit "作成", class: "btn btn-dark" %>
    </div>
  <% end %>
</div>
