<div class="col-sm-12">
  
  <div id="span_set" class="ml-1e">
    <%= render partial: 'employees/estimate_matters/progress_table/span_set', locals: { table_type: @table_type, first_day: @first_day, last_day: @last_day } %>
  </div>
  
  <div class="table-responsive progress_table_design">
    <table class="text-nowrap">
      <thead>
        <tr>
          <th></th>
          <th>アポイント</th>
          <th>現調</th>
          <th>見積作成</th>
          <th>火災保険</th>
          <th>商談</th>
          <th>提出済</th>
          <th>追客</th>
          <th>契約</th>
          <th>着工</th>
          <th>失注</th>
          <th>失注（他社）</th>
          <th>その他</th>
        </tr>
      </thead>
      <tbody id="progress_table">
        <%= render partial: 'employees/estimate_matters/progress_table/progress_table', locals: { target_est_matters: @target_est_matters } %>
      </tbody>
    </table>
  </div>
</div>

