<div class="col-12">
  
  <div class="text-right">
    <%= link_to "画像一覧", employees_estimate_matter_images_path(current_estimate_matter), target: :_blank, rel: :noopener, rel: :noreferrer, class: "btn btn-dark" %>
  </div>

  <h2><i class="fas fa-clipboard"></i> 見積案件詳細</h2>

  <div class="card text-center tab-wrapper">
    <div class="card-header bg-dark">
      <ul class="nav nav-tabs d-flex flex-column flex-md-row card-header-tabs" id="matters-show-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" href="#detail" data-toggle="tab" role="tab" aria-controls="detail" aria-selected="true">詳細情報</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#tasks" data-toggle="tab" role="tab" aria-controls="tasks" aria-selected="true">タスク一覧</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#estimates" data-toggle="tab" role="tab" aria-controls="estimates" aria-selected="true">見積一覧</a>
        </li>
      </ul>
    </div>

    <div class="card-body">
      <div class="tab-content" id="matter-show-tab">
        <div class="tab-pane fade show active bg-white" id="detail" role="tabpanel">
          <%= render "employees/estimate_matters/tab_pane/detail", matter: @matter %>
        </div>
        <div class="tab-pane fade bg-white" id="tasks" role="tabpane2">
          <div class="tasks-index">
            <%= render "employees/estimate_matters/tab_pane/tasks" %>
          </div>          
        </div>
        <div class="tab-pane fade bg-white" id="estimates" role="tabpane3">
          <div class="estimates-index">
            <%= render "employees/estimate_matters/tab_pane/estimates" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
