<% @own_error_attendances.each do |error_attendance| %>
  <p><i class="fas fa-exclamation-circle fa-orange"></i>
    <span>
      <%= link_to send(path, date: error_attendance.worked_on) do %>
        <%= error_attendance.worked_on %>の退勤処理が未処理です
      <% end %>
    </span>
  </p>
<% end %>