<div class="col-lg-12 col-md-12">
  <!--▼出退勤ボタンの表示-->
  <ul class="nav nav-tabs title_tab_bar">
    <li class="nav-item">
      <a class="nav-link attendance_tab">本日の出退勤</a>
    </li>
  </ul>
  <div class="mt-1e text-center">
    <%= render partial: "common_layouts/attendances/top_attendance", locals: { target: current_staff, attendance: @attendance, path: :staffs_attendance_path } %>
  </div>
  
  <ul class="nav nav-tabs title_tab_bar">
    <li class="nav-item">
      <a class="nav-link warning_tab">警告事項</a>
    </li>
  </ul>
  
  <div class="news_container">
    <div class="top_page_contents">
    <!--足場・発注勧告-->
      <% if @staff_scaffolding_and_order_requests_relevant_or_ongoing.count > 0 %>
        <p><i class="fas fa-exclamation-circle fa-orange"></i>
          <span><%= link_to "足場架設依頼/発注依頼が残っております：#{ @staff_scaffolding_and_order_requests_relevant_or_ongoing.count }件", staffs_index_path, remote: true %></span>
        </p>
      <% end %>
    <!--出退勤関係-->
      <% if @own_error_attendances %>
        <%= render partial: 'common_layouts/attendances/own_error_attendances', 
                   locals: {path: :staffs_attendances_path} %>
      <% end %>
    </div>
  </div>
  
  
  <!--▼新着情報コンテナ-->
  <ul class="nav nav-tabs title_tab_bar mt-2e">
    <li class="nav-item">
      <a class="nav-link title_tab">新着情報</a>
    </li>
  </ul>
  
  <div class="news_container">
    新着情報なしの場合
    <p>新着情報はありません</p>
    新着情報ありの場合
    <div class="top_page_contents">
      <p><i class="fas fa-exclamation-circle fa-blue"></i>
        <span>新規顧客が追加されました</span>
      </p>
      <p><i class="fas fa-exclamation-circle fa-blue"></i>
        <span>新規案件が登録されました</span>
      </p>
      <p><i class="fas fa-exclamation-circle"></i>
        <span>○○が現場に到着しました</span>
      </p>
      <p><i class="fas fa-exclamation-circle fa-orange"></i>
        <span>案件○○のタスク○○が完了しました</span>
      </p>
    </div>
  </div>
  
  <!--ghanttcart-->
  <ul class="nav nav-tabs title_tab_bar">
    <li class="nav-item">
      <a class="nav-link title_tab">GanttChart</a>
    </li>
  </ul>
  <div class="mt-1e">
    <!--<!%= render 'matter/ganttchart/index' %>-->
  </div>

</div>

