<!--自分以外のメッセージ-->
<% if status == "true" %>
  <div class="balloon_l">
    <div class="faceicon">
      <img src="https://stand-4u.com/stand-4u/wp-content/uploads/2019/09/s4man.png" alt="" >
    </div>
    <p class="says"><%= talk.message %></p>
    <span><%= talk.created_at.strftime("%H:%M") %></span>
  </div>
<% end %>