<section>
  <% unless current_vendor_manager %>
    <%= render partial: 'layouts/page_title', locals: { title_1: "外部STAFFの引き継ぎ設定", title_2: "#{@external_staff.name}", icon: "fa-user"} %>
  <% else %>
    <%= render partial: 'layouts/page_title', locals: { title_1: "#{@external_staff.name}の引き継ぎ設定", title_2: nil, icon: "fa-user"} %>
  <% end %>
</section>

<%= out_of_service(@external_staff) %>

<div id="process">
  <%= render 'employees/external_staffs/retirements/partial/process' %>
</div>