<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;</button></div>
    <div class="modal-body pa-2e">
      <div class="card mb-3">
        <h5 class="card-header">デフォルトタスク編集</h5>
        <div class="card-body">
          <%= form_with(model: @default_tasks, url: default_task_employees_task_update_path(@default_tasks), method: :patch, remote: true, id: "edit-task-form") do |f| %>
            <div class="industry-update-errors"></div>
            <%= f.label :default_title, "デフォルトタスク名" %>
            <%= f.text_field :default_title, required: true, class: "form-control", maxlength: 30, id: "task-name" %>
            
            <div class="btn-area">
              <%= f.submit "更新", class: "btn btn-dark" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
