<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Account情報</h2>
    </div>
    <div class="col-md-6">
      <%= link_to edit_manager_registration_path(current_manager), class: "btn btn-dark float-r mt-0 mb-1e" do %>
        <i class="fas fa-user-edit"></i> 編集
      <% end %>
    </div>
  </div>
  
  <div class="table-responsive"> 
    <table class="table table-borderd text-nowrap manager_account_show">
      <tr>
        <th class="active">会社名</th>
        <td><%= @manager.company %></td>
      </tr>
      
      <tr>
        <th class="active">代表者</th>
        <td><%= @manager.name %></td>
      </tr>
      
      <tr>
        <th class="active">Mail</th>
        <td><%= @manager.email %></td>
      </tr>
      
    </table>
  </div>
</div>