<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;</button></div>
    <div class="modal-body pa-2e">
      <div class="card mb-3">
        <h5 class="card-header">Manager編集</h5>
        <div class="card-body">
          <%= form_with(model: @manager, url: employees_manager_path(@manager), method: :patch, remote: true) do |f| %>
            <div class="manager-update-errors"></div>
            <%= render "/employees/managers/partial/form", f: f %>
            <div class="btn-area"><%= f.submit "更新", class: "btn btn-dark reset-errors" %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "reset_errors.js" %>
