<%= f.label :title %>
<%= f.text_field :title, required: true, class: "form-control", maxlength: 30 %>

<%= f.label :content %>
<div class="FlexTextarea">
  <div class="FlexTextarea__dummy" aria-hidden="true"></div>
  <%= f.text_area :content, class: "FlexTextarea__textarea", id: "construction-schedule-content" %>
</div>

<script>
  function flexTextarea(el) {
    const dummy = el.querySelector('.FlexTextarea__dummy')
    el.querySelector('.FlexTextarea__textarea').addEventListener('input', e => {
      dummy.textContent = e.target.value + '\u200b'
    })
  }

  document.querySelectorAll('.FlexTextarea').forEach(flexTextarea)
</script>