<div class="mb-1e">
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "flash flash_#{key} time-limit") %>
  <% end %>
</div>

# flashの表示時間
<script>
  $(function(){
    setTimeout("$('.time-limit').fadeOut('slow')", 3000) 
  })
</script>