<header class="header-login smp-center">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-12 smp-center">
        <%= image_tag "logo_image.png", size: "300x75", alt: "ロゴ" %>
      </div>
      <div class="col-sm-8">
        <%= link_to "ログイン", login_path, remote: true, class: "btn btn-lg btn-dark login-button" %>
      </div>
    </div>
  </div>
</header>
