<header class="header-login smp-center">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-12 smp-center">
        <%= image_tag "logo_image.png", size: "300x75", alt: "ロゴ" %>
      </div>
      <div class="col-sm-8">
        <button class="btn btn-lg btn-dark login-button">ログイン</button>
      </div>
    </div>
          
    <!--login_modal-->
    <div class="modal login-modal">
      <div class="modal__bg js-modal-close"></div>
        <%= render "static_pages/login_modal" %>
      </div>
    </div>
    
  </div>
</header>

<script>
  $(function(){
    $(".login-button").on("click",function(){
        $(".login-modal").fadeIn();
        return false;
    });
    
    $(".js-modal-close").on("click",function(){
        $(".login-modal").fadeOut();
        return false;
    });
  });
</script>