<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-sm-12 smp-center">
      <%= image_tag 'logo.jpg' %>
    </div>
    <div class="col-sm-8 login-menu"></div>
  </div>
</div>
