<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-sm-12 smp_center">
      <%= image_tag 'logo.jpg' %>
    </div>
    <div class="col-sm-8 login_menu">
      <div class="dropdown float-r mr-1e">
        <!-- 切替ボタンの設定 -->
        <button type="button" class="btn btn-dark dropdown-toggle smp_none" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Staff
        </button>
        <!-- ドロップメニューの設定 -->
        <div class="dropdown-menu staff_login_menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item submanager_login_modal" href="#">Submanager</a>
          <a class="dropdown-item staff_login_modal" href="#">Staff</a>
          <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">その他リンク</a>
          </div><!-- /.dropdown-menu -->
        </div><!-- /.dropdown -->
      <button class= "btn btn-dark float-r mr-1e manager_login_modal smp_none">Manager</button>
    </div>
  </div>
  
  <!--manager_login-->
  <div class="modal manager_login_form">
    <div class="modal__bg js-modal-close"></div>
      <div class="">
        <%= render partial: './managers/sessions/manager_login' %>
      </div>
    </div>
  </div>
  <!--end/manager-->
  
  <!--submanager_login-->
  <div class="modal submanager_login_form">
    <div class="modal__bg js-modal-close"></div>
      <div class="">
        <%= render partial: './submanagers/sessions/submanager_login' %>
      </div>
    </div>
  </div>
  <!--end/submanager-->

  <!--staff_login-->
  <div class="modal staff_login_form">
    <div class="modal__bg js-modal-close"></div>
      <div class="">
        <%= render partial: './staffs/sessions/staff_login' %>
      </div>
    </div>
  </div>
  <!--end/staff-->

</div>

<!--modal-->
<script>
$(function(){
    $('.manager_login_modal').on('click',function(){
        $('.manager_login_form').fadeIn();
        return false;
    });
    $('.js-modal-close').on('click',function(){
        $('.manager_login_form').fadeOut();
        return false;
    });
});
</script>

<script>
$(function(){
    $('.submanager_login_modal').on('click',function(){
        $('.submanager_login_form').fadeIn();
        return false;
    });
    $('.js-modal-close').on('click',function(){
        $('.submanager_login_form').fadeOut();
        return false;
    });
});
</script>

<script>
$(function(){
    $('.staff_login_modal').on('click',function(){
        $('.staff_login_form').fadeIn();
        return false;
    });
    $('.js-modal-close').on('click',function(){
        $('.staff_login_form').fadeOut();
        return false;
    });
});
</script>
