<!--アドミン用-->
<% if admin_signed_in? %>

  <!--マネージャーnew-->
  <% if controller_name == "managers" && action_name == "index" %>
    <div id="manager-new" class="modal fade" role="dialog"></div>
  <% end %>

  <!--マネージャーedit-->
  <% if controller_name == "managers" && action_name == "show" %>
    <div id="manager-edit" class="modal fade" role="dialog"></div>
  <% end %>
<% end %>

<!--アドミン・マネージャー用-->
<% if admin_signed_in? || manager_signed_in? %>
  <!--スタッフnew・edit-->
  <% if controller_name == "staffs" && action_name == "index" %>
    <div id="staff-new" class="modal fade" role="dialog"></div>
  <% elsif controller_name == "staffs" && action_name == "show" %>
    <div id="staff-edit" class="modal fade" role="dialog"></div>
  <% end %>

  <!--外部スタッフnew-->
  <% if controller_name == "external_staffs" && action_name == "index" %>
    <div id="external-staff-new" class="modal fade" role="dialog"></div>
  <% end %>

  <!--外部スタッフedit-->
  <% if controller_name == "external_staffs" && action_name == "show" %>
    <div id="external-staff-edit" class="modal fade" role="dialog"></div>
  <% end %>

  <!--勤怠new・edit-->
  <% if controller_name == "attendances" && action_name == "individual" || controller_name == "attendances" && action_name == "daily" %>
    <div id="attendance-new" class="modal fade" role="dialog"></div>

    <div id="attendance-edit" class="modal fade" role="dialog">
      <%= render "employees/attendances/edit" %>
    </div>
  <% end %>

  <!--デフォルトタスクnew・edit-->
  <% if controller_name == "tasks" && action_name == "index" %>
    <div id="default-task-new" class="modal fade" role="dialog"></div>
    <div id="default-task-edit" class="modal fade" role="dialog"></div>
  <% end %>

  <!--屋号/部署/集客/取引先業種new・edit-->
  <% if controller_name == "companies" && action_name == "index" %>
    <div id="publisher-new" class="modal fade" role="dialog"></div>
    <div id="publisher-edit" class="modal fade" role="dialog"></div>
    <div id="department-new" class="modal fade" role="dialog"></div>
    <div id="department-edit" class="modal fade" role="dialog"></div>
    <div id="attract-method-new" class="modal fade" role="dialog"></div>
    <div id="attract-method-edit" class="modal fade" role="dialog"></div>
    <div id="industry-new" class="modal fade" role="dialog"></div>
    <div id="industry-edit" class="modal fade" role="dialog"></div>
  <% end %>
  
  <!--プラン名/工事部位/工事種類/素材new・edit-->
  <% if controller_name == "estimates" && action_name == "index" %>
    <div id="plan-name-new" class="modal fade" role="dialog"></div>
    <div id="plan-name-edit" class="modal fade" role="dialog"></div>
    <div id="category-new" class="modal fade" role="dialog"></div>
    <div id="category-edit" class="modal fade" role="dialog"></div>
    <div id="construction-new" class="modal fade" role="dialog"></div>
    <div id="construction-edit" class="modal fade" role="dialog"></div>
    <div id="material-new" class="modal fade" role="dialog"></div>
    <div id="material-edit" class="modal fade" role="dialog"></div>
  <% end %>

  <!--カラーコードnew・edit-->
  <% if controller_name == "others" && action_name == "index" %>
    <div id="label-color-new" class="modal fade" role="dialog"></div>
    <div id="label-color-edit" class="modal fade" role="dialog"></div>
  <% end %>

  <!--お問合せedit-->
  <% if controller_name == "inquiries" && action_name == "show" %>
    <div id="inquiry-edit" class="modal fade" role="dialog"></div>
  <% end %>
<% end %>

<!--アドミン・マネージャー・スタッフ用-->
<% if admin_signed_in? || manager_signed_in? || staff_signed_in? %>
  <!--顧客new・edit-->
  <% if controller_name == "clients" && action_name == "index" %>
    <div id="client-new" class="modal fade" role="dialog"></div>
  <% elsif (controller_name == "clients" && action_name == "show") || (controller_name == "matters" && action_name == "show") %>
    <div id="client-edit" class="modal fade" role="dialog"></div>
  <% end %>

  <!--外注先new・edit-->
  <% if controller_name == "suppliers" && action_name == "index" %>
    <div id="supplier-new" class="modal fade" role="dialog"></div>
  <% elsif controller_name == "suppliers" && action_name == "show" %>
    <div id="supplier-edit" class="modal fade" role="dialog"></div>
  <% end %>
  
  <!--着工案件関連-->
  <% if controller_name == "matters" && action_name == "show" %> 
    <!--BAND連結-->
    <div id="bands-index" class="modal fade" role="dialog"></div>
  <% end %>

  <!--見積案件new・edit-->
  <% if controller_name == "estimate_matters" || controller_name == "clients" %>
    <% if action_name == "index" %>
      <div id="estimate-matter-new" class="modal fade" role="dialog"></div>
    <% end %>
  <% end %>
  <% if controller_name == "estimate_matters" && action_name == "show" %> 
    <div id="estimate-matter-edit" class="modal fade" role="dialog"></div>
    <!--営業ステータスnew・edit-->
    <div id="sales-status-new" class="modal fade" role="dialog"></div>
    <div id="sales-status-show" class="modal fade" role="dialog"></div>
    <div id="sales-status-edit" class="modal fade" role="dialog"></div>
    <!--見積関連-->
    <div id="estimate-new" class="modal fade" role="dialog"></div>
    <div id="estimate-edit" class="modal fade" role="dialog"></div>
    <div id="estimate-detail-edit" class="modal fade" role="dialog"></div>
    <div id="estimate-object-edit" class="modal fade" role="dialog"></div>
    <!--BAND連結-->
    <div id="bands-index" class="modal fade" role="dialog"></div>
  <% end %>

  <!--タスクedit-->
  <div id="task-edit" class="modal fade" role="dialog"></div>
  
  <!--診断書new・edit-->
  <div id="certificate-new" class="modal fade" role="dialog"></div>
  <div id="certificate-edit" class="modal fade" role="dialog"></div>
  <div id="certificate-cover-new" class="modal fade" role="dialog" ></div>
  <div id="certificate-cover-edit" class="modal fade" role="dialog" ></div>
  
  <!--見積案件に紐づいている写真に対しての診断書new・edit-->
  <div id="estimate-matter-certificate-new" class="modal fade" role="dialog"></div>
  <div id="estimate-matter-certificate-edit" class="modal fade" role="dialog"></div>

  <!--案件edit-->
  <% if controller_name == "matters" && action_name == "show" %>
    <div id="matter-edit" class="modal fade" role="dialog"></div>
  <% end %>
<% end %>

<!--アドミン・マネージャー・スタッフ・外部スタッフ用-->
<% if admin_signed_in? || manager_signed_in? || staff_signed_in? || external_staff_signed_in? %>
  <!-- 見積案件から案件設定の際に、担当者を選択するモーダル -->
  <div id="person_in_charge" class="modal fade" role="dialog"></div>
  <div id="matter-new" class="modal fade" role="dialog"></div>
  
  <!--タスクindex-->
  <div id="task-index" class="modal fade" role="dialog"></div>

  <!--写真new・edit-->
  <div id="image-new" class="modal fade" role="dialog"></div>
  <div id="image-edit" class="modal fade" role="dialog"></div>
  
  <!--SCHEDULEnew・edit-->
  <% if controller_name == "schedules" && action_name == "index" %>
    <div id="schedule-new" class="modal fade" role="dialog"></div>
    <div id="schedule-show" class="modal fade" role="dialog"></div>
    <div id="schedule-edit" class="modal fade" role="dialog"></div>
    <div id="sales-status-edit" class="modal fade" role="dialog"></div>
  <% end %>
<% end %>

<% if controller_name == "static_pages" && action_name == "top" %>
  <div id="login" class="modal fade" role="dialog"></div>
  <div id="inquiry-new" class="modal fade" role="dialog"></div>
<% end %>
