<% if admin_signed_in? || manager_signed_in? %>
  <!--アドミン・マネージャー用-->
  <!--外部スタッフCRUD-->
  <% if controller_name == "external_staffs" %>
    <% if action_name == "index" %>
      <div id="external-staff-new" class="modal fade" role="dialog"></div>
    <% elsif action_name == "show" %>
      <div id="external-staff-edit" class="modal fade" role="dialog"></div>
    <% end %>
  <% end %>

  <!--勤怠new・edit-->
  <% if controller_name == "attendances" && action_name == "individual" || controller_name == "attendances" && action_name == "daily" %>
    <div id="attendance-new" class="modal fade" role="dialog"></div>
    <div id="attendance-edit" class="modal fade" role="dialog"></div>
  <% end %>

  <!--デフォルトタスクnew・edit-->
  <% if controller_name == "tasks" && action_name == "index" %>
    <div id="default-task-new" class="modal fade" role="dialog"></div>
    <div id="default-task-edit" class="modal fade" role="dialog"></div>
  <% end %>

  <!--デフォルト報告書new・edit-->
  <% if controller_name == "reports" && action_name == "index" %>
    <div id="default-report-new" class="modal fade" role="dialog"></div>
    <div id="default-report-edit" class="modal fade" role="dialog"></div>
  <% end %>

  <!--屋号/部署/集客/取引先業種new・edit-->
  <% if controller_name == "companies" && action_name == "index" %>
    <div id="publisher-new" class="modal fade" role="dialog"></div>
    <div id="publisher-edit" class="modal fade" role="dialog"></div>
    <div id="department-edit" class="modal fade" role="dialog"></div>
    <div id="attract-method-edit" class="modal fade" role="dialog"></div>
    <div id="industry-edit" class="modal fade" role="dialog"></div>
  <% end %>

  <!--プラン名/工事部位/工事種類/素材new・edit-->
  <% if controller_name == "estimates" && action_name == "index" %>
    <div id="plan-name-new" class="modal fade" role="dialog"></div>
    <div id="plan-name-edit" class="modal fade" role="dialog"></div>
    <div id="category-new" class="modal fade" role="dialog"></div>
    <div id="category-edit" class="modal fade" role="dialog"></div>
    <div id="construction-new" class="modal fade" role="dialog"></div>
    <div id="construction-edit" class="modal fade" role="dialog"></div>
    <div id="material-new" class="modal fade" role="dialog"></div>
    <div id="material-edit" class="modal fade" role="dialog"></div>
  <% end %>

  <!--カラーコードnew・edit-->
  <% if controller_name == "others" && action_name == "index" %>
    <div id="label-color-new" class="modal fade" role="dialog"></div>
    <div id="label-color-edit" class="modal fade" role="dialog"></div>
  <% end %>

  <!--matter/task担当者変更-->
  <% if controller_name == "staffs" && action_name == "retirement_process" %>
    <div id="change-member-for-matter" class="modal fade" role="dialog"></div>
    <div id="change-member-for-estimate_matter" class="modal fade" role="dialog"></div>
    <div id="change-member-for-schedule" class="modal fade" role="dialog"></div>
  <% end %>

  <% if controller_name == "external_staffs" && action_name == "retirement_process" %>
    <div id="change-member-for-matter" class="modal fade" role="dialog"></div>
    <div id="change-member-for-estimate_matter" class="modal fade" role="dialog"></div>
    <div id="change-member-for-schedule" class="modal fade" role="dialog"></div>
  <% end %>


  <!--お問合せedit-->
  <% if controller_name == "inquiries" && action_name == "show" %>
    <div id="inquiry-edit" class="modal fade" role="dialog"></div>
  <% end %>
  
<% end %>

<!--アドミン・マネージャー・スタッフ用-->
<% if admin_signed_in? || manager_signed_in? || staff_signed_in? %>

  <!--顧客new・edit-->
  <% if controller_name == "clients" && action_name == "index" %>
    <div id="client-new" class="modal fade" role="dialog"></div>
  <% elsif controller_name == "clients" && action_name == "show" %>
    <div id="client-edit" class="modal fade" role="dialog"></div>
  <% end %>
  
  <% if controller_name == "clients" && action_name == "show" %>
    <div id="estimate-matter-new" class="modal fade" role="dialog"></div>
  <% end %>

  <!--外注先new・edit-->
  <% if controller_name == "vendors" && action_name == "index" %>
    <div id="vendor-new" class="modal fade" role="dialog"></div>
  <% elsif controller_name == "vendors" && action_name == "show" %>
    <div id="vendor-edit" class="modal fade" role="dialog"></div>
  <% end %>


  <% if controller_name == "estimate_matters" && action_name == "show" %>
    <div id="client-edit" class="modal fade" role="dialog"></div>
  <% end %>

  <!--着工案件関連-->
  <% if controller_name == "matters" && action_name == "show" %>
    <div id="client-edit" class="modal fade" role="dialog"></div>

    <!--ここまで確認済み-->
    <!--請求書関連-->
    <div id="invoice-edit" class="modal fade" role="dialog"></div>
    <div id="invoice-detail-edit" class="modal fade" role="dialog"></div>
    <div id="invoice-object-edit" class="modal fade" role="dialog"></div>
  <% end %>

  <% if controller_name == "schedules" && action_name == "application" %>
    <div id="schedule-application" class="modal fade" role="dialog"></div>
  <% end %>
  
<% end %>


<!--アドミン・マネージャー・スタッフ・外部スタッフ用-->
<% if admin_signed_in? || manager_signed_in? || staff_signed_in? || external_staff_signed_in? %>
  <!--SCHEDULEnew・edit-->
  <% if controller_name == "schedules" && action_name == "index" %>
    <div id="sales-status-edit" class="modal fade" role="dialog"></div>
  <% end %>
<% end %>



<!--------------------------------------------------------->

<!--共通-->

<div id="modal-container" class="modal fade" role="dialog"></div>

<% if controller_name == "static_pages" && action_name == "top" %>
  <div id="inquiry-new" class="modal fade" role="dialog"></div>
<% end %>

<!--アドミン・マネージャー用-->
<% if admin_signed_in? || manager_signed_in? %>
  <% if controller_name == "retirements" %>
    <% if action_name == "index" %>
      <div id="retirement-modal" class="modal fade" role="dialog"></div>
    <% end %>
  <% end %>
<% end %>

<% if vendor_manager_signed_in? %>
  <% if controller_name == "construction_schedules" && action_name == "index" %>
    <div id="schedule-detail" class="modal fade" role="dialog"></div>
  <% end %>
<% end %>
