<!--アドミン用-->
<% if admin_signed_in? %>

  <!--マネージャーnew-->
  <% if controller_name == "managers" && action_name == "index" %>
    <div id="manager-new" class="modal fade" role="dialog"></div>
  <% end %>

  <!--マネージャーedit-->
  <% if controller_name == "managers" && action_name == "show" %>
    <div id="manager-edit" class="modal fade" role="dialog"></div>
  <% end %>
<% end %>

<!--アドミン・マネージャー用-->
<% if admin_signed_in? || manager_signed_in? %>
  <!--スタッフnew・edit-->
  <% if controller_name == "staffs" && action_name == "index" %>
    <div id="staff-new" class="modal fade" role="dialog"></div>
  <% elsif controller_name == "staffs" && action_name == "show" %>
    <div id="staff-edit" class="modal fade" role="dialog"></div>
  <% end %>

  <!--外部スタッフnew-->
  <% if controller_name == "suppliers" && action_name == "show" %>
    <div id="external-staff-new" class="modal fade" role="dialog"></div>
  <% end %>

  <!--外部スタッフedit-->
  <% if controller_name == "external_staffs" && action_name == "show" %>
    <div id="external-staff-edit" class="modal fade" role="dialog"></div>
  <% end %>

  <!--勤怠new・edit-->
  <% if controller_name == "attendances" && action_name == "individual" || controller_name == "attendances" && action_name == "daily" %>
    <div id="attendance-new" class="modal fade" role="dialog"></div>

    <div id="attendance-edit" class="modal fade" role="dialog">
      <%= render "employees/attendances/edit" %>
    </div>
  <% end %>

  <!--部署new・edit-->
  <% if controller_name == "departments" && action_name == "index" %>
    <div id="department-new" class="modal fade" role="dialog"></div>
    <div id="department-edit" class="modal fade" role="dialog"></div>
  <% end %>

  <!--デフォルトタスクnew・edit-->
  <% if controller_name == "tasks" && action_name == "index" %>
    <div id="default-task-new" class="modal fade" role="dialog"></div>
    <div id="default-task-edit" class="modal fade" role="dialog"></div>
  <% end %>

  <!--工事カテゴリnew・edit-->
  <% if controller_name == "categories" && action_name == "index" %>
    <div id="category-new" class="modal fade" role="dialog"></div>
    <div id="category-edit" class="modal fade" role="dialog"></div>
  <% end %>

  <!--工事new・edit-->
  <% if controller_name == "constructions" && action_name == "index" %>
    <div id="construction-new" class="modal fade" role="dialog"></div>
    <div id="construction-edit" class="modal fade" role="dialog"></div>
  <% end %>
  
  <!--素材new・edit-->
  <% if controller_name == "materials" && action_name == "index" %>
    <div id="material-new" class="modal fade" role="dialog"></div>
    <div id="material-edit" class="modal fade" role="dialog"></div>
  <% end %>
<% end %>

<!--アドミン・マネージャー・スタッフ用-->
<% if admin_signed_in? || manager_signed_in? || staff_signed_in? %>
  <!--顧客new・edit-->
  <% if controller_name == "clients" && action_name == "index" %>
    <div id="client-new" class="modal fade" role="dialog"></div>
  <% elsif controller_name == "clients" && action_name == "show" %>
    <div id="client-edit" class="modal fade" role="dialog"></div>
  <% end %>

  <!--外注先new・edit-->
  <% if controller_name == "suppliers" && action_name == "index" %>
    <div id="supplier-new" class="modal fade" role="dialog"></div>
  <% elsif controller_name == "suppliers" && action_name == "show" %>
    <div id="supplier-edit" class="modal fade" role="dialog"></div>
  <% end %>

  <!--見積案件new・edit-->
  <% if controller_name == "estimate_matters" && action_name == "index" %>
    <div id="estimate-matter-new" class="modal fade" role="dialog"></div>
  <% elsif controller_name == "estimate_matters" && action_name == "show" %> 
    <div id="estimate-matter-edit" class="modal fade" role="dialog"></div>
    <div id="estimate-category-edit" class="modal fade" role="dialog"></div>
  <% end %>

  <!--タスクedit-->
  <div id="task-edit" class="modal fade" role="dialog"></div>
  
  <!--タスクindex-->
  <div id="index" class="modal fade" tabindex="-1" rule="dialog" area-hidden="true"></div>

  <!--業種new・edit-->
  <% if controller_name == "industries" && action_name == "index" %>
    <div id="industry-new" class="modal fade" role="dialog"></div>
    <div id="industry-edit" class="modal fade" role="dialog"></div>
  <% end %>

  <!--見積new・edit-->
  <% if controller_name == "estimate_matters" && action_name == "show" %>
    <div id="estimate-new" class="modal fade" role="dialog"></div>
  <% end %>
<% end %>
