<div class="modal-dialog non-card-modal">
  <div class="modal-content">
    <div class="modal-header">
      個別タスク編集
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
      <%= form_with(model: @task, url: staffs_task_path(@task), method: :patch, remote: true) do |f| %>
        <div class="task-update-errors"></div>
        <%= render 'staffs/tasks/partial/form', f: f %>
        <div class="btn-area">
          <%= f.submit "編集", class: "btn btn-dark reset-errors" %>
          <%= link_to "削除", staffs_task_path(@task), method: :delete, data: {confirm: "#{@task}を削除しますか？"}, remote: true, class: "btn btn-danger" %>
        </div>
      <% end %>
    </div>
  </div>
</div>